force-app/main/default/flows/ADA_Accommodation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Student_of_Closed_Case</name>
        <label>Alert Student of Closed Case</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CaseStatusClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>acs@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CaseEmailAlertSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>When a status changes, alert the students of the new status.</description>
        <name>Alert_students_of_status_change_0</name>
        <label>Alert students of status change</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CaseStatusUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>acs@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CaseEmailAlertSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decision_active_changes_or_closed</name>
        <label>Decision active changes or closed</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Alert_students_of_status_change_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approved/Pending email</defaultConnectorLabel>
        <rules>
            <name>Closed_no_email</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate - request closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No longer applicable</stringValue>
                </rightValue>
            </conditions>
            <label>Closed - no email</label>
        </rules>
        <rules>
            <name>New_Registration_no_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <label>New Registration - no email</label>
        </rules>
        <rules>
            <name>Closed_with_email</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Student_of_Closed_Case</targetReference>
            </connector>
            <label>Closed with email</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated_Case</name>
        <label>New or Updated Case</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_active_changes_or_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New not ADA or Updated</defaultConnectorLabel>
        <rules>
            <name>NewADACase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FormAssembly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>New ADA Case</label>
        </rules>
    </decisions>
    <description>ADA Accommodation Approval Process will contact students at each stage of the workflow.</description>
    <environments>Default</environments>
    <interviewLabel>ADA Accommodation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADA Accom Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_active_changes_or_closed</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Updated_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124O000000R2AkQAK</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseEmailAlertSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Accommodation Request: Status Update</text>
    </textTemplates>
    <textTemplates>
        <name>CaseStatusClosed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;We are writing to let you know that your accommodation request has come to the following resolution, {!$Record.Resolution_Code__c}.&amp;nbsp;&lt;/p&gt;&lt;p&gt;If you have any questions, feel free to reach out to Accessibility Services at 844-427-4356.&lt;/p&gt;&lt;p&gt;Best wishes,&lt;/p&gt;&lt;p&gt;Excelsior University Accessibility Services Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CaseStatusUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;We are writing to let you know that your accommodation request is in the approval stages. &lt;/span&gt;The status on the Request has changed to &quot;{!$Record.Status}&quot;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;.  Please note that this can take up to 2-3 weeks to process your request. If you have not yet sent in your documentation from your Healthcare provider, please do so as soon as possible to acs@excelsior.edu.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, feel free to reach out to Accessibility Services at 844-427-4356.&lt;/p&gt;&lt;p&gt;Best wishes,&lt;/p&gt;&lt;p&gt;Excelsior University &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Accessibility Services&lt;/span&gt; Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
