force-app/main/default/flows/ADA_Rename_or_Delete_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign values from the get Content Dcoument Records into a collection variable. The collection variable is also used below where we add the content documents related to the email.</description>
        <name>Content_Document_Assignment</name>
        <label>Content Document Assignment</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CollectionforContentDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetContentDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attached_to_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values from the get Content Document Records into a collection variable.</description>
        <name>Content_Document_Assignment11</name>
        <label>Content Document Assignment</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>CollectionforContentDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attached_to_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AnotherSubmDelete1</name>
        <choiceText>AnotherSubmDelete1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AnotherSubmDelete1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_a_file</name>
        <choiceText>Delete a file</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete a file</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteFile</name>
        <choiceText>Delete File</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DeleteFile</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_m_Done</name>
        <choiceText>I&apos;m Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;m Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rename_a_file</name>
        <choiceText>Rename a file</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename a file</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenameFile</name>
        <choiceText>Rename file</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rename_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceRenameOrDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RenameFile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen03</targetReference>
            </connector>
            <label>Rename File</label>
        </rules>
        <rules>
            <name>Delete_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceRenameOrDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteFile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen04</targetReference>
            </connector>
            <label>Delete File</label>
        </rules>
    </decisions>
    <description>Rename or delete documents in an ADA Case.</description>
    <environments>Default</environments>
    <interviewLabel>ADA - Rename or Delete Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADA - Rename or Delete Documents</label>
    <loops>
        <description>The content document link record simply represents the relationship between a file and the record. This data does not include anything related to the actual file. So in this loop, we take CDL and get details about the actual content document. The values from Content document are used are used in display tables.</description>
        <name>Loop_Content_Document_for_Files_attached_to_Case</name>
        <label>Loop Content Document for Files attached to Case</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Files_Related_to_the_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetContentDocument</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Emails_Related_to_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>The content document link record simply represents the relationship between a file and the record. This data does not include anything related to the actual file. So in this loop, we take CDL and get details about the actual content document. The values from the Content document are used in display tables.</description>
        <name>Loop_Content_Document_for_Files_attached_to_Email</name>
        <label>Loop Content Document for Files attached to Email</label>
        <locationX>490</locationX>
        <locationY>1322</locationY>
        <collectionReference>Get_Files_Related_to_Email_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Emails_related_to_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop takes all emails that are related to the case and passes a single email into the loop. We do this because there can be multiple emails attached to this case and each email could have multiple attachments.</description>
        <name>Loop_Emails_related_to_case</name>
        <label>Loop Emails related to case</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Emails_Related_to_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Files_Related_to_Email_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Files</name>
        <label>Delete Files</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Screen05</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisplayFiles2.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <description>The screen only passes the RecordId, but we need all the case details ahead in the flow, thus querying it right away before we end in loops and storing only the contact ID.</description>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attached_to_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>we take CDL and get details about the actual content document. The values from the Content document are used in display tables.</description>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Assignment11</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Content_Document_for_Files_attached_to_Email.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>As there are multiple files attached to this case, the files that are sent via an email also need to be displayed on the data table in the screens below. Before we get the Content Document Links of files related to the case, we need to first get the email records related to the case. Below in the flow we loop though each email record and CDL&apos;s in them.</description>
        <name>Get_Emails_Related_to_Case</name>
        <label>Get Emails Related to Case</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Emails_related_to_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We are looking for Content Document Links (CDL). CDLs are the sharing record between the file and object, in this case, because we want all files related to an email the LinkedEntityId is the current email in the loop.</description>
        <name>Get_Files_Related_to_Email_Case</name>
        <label>Get Files Related to Email Case</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attached_to_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Emails_related_to_case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We are looking for the Content Document Links (CDL). CDL&apos;s are the sharing record between the file and the object, in this case because we want all the files related to a case the LinkedEntityID is the CaseID passed from the screen.</description>
        <name>Get_Files_Related_to_the_Case</name>
        <label>Get Files Related to the Case</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We take CDL and get details about the actual content document. The vallues from the Content document are used in display tables.</description>
        <name>GetContentDocument</name>
        <label>GetContentDocument</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Content_Document_for_Files_attached_to_Case.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Rename_file_record_update</name>
        <label>Rename file</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Screen05</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Displayfiles.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NewFileName</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;Opps! There seems to be an error in the process. To help us troubleshoot your issue, please create a Rememedyforce Ticket and include the following details in the ticket. This will allow us to investigate the issue further and find a solution. Thank you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Record Id: {!CaseId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen02</name>
        <label>Screen02</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>ChoiceRenameOrDelete</name>
            <choiceReferences>RenameFile</choiceReferences>
            <choiceReferences>DeleteFile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you lke to rename or delete a file?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen03</name>
        <label>Screen03</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rename_file_record_update</targetReference>
        </connector>
        <fields>
            <name>Displayfiles</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments related to this case:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CollectionforContentDocument</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-3a85&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-732a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewFileName</name>
            <dataType>String</dataType>
            <fieldText>What would you like to rename the file to?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen04</name>
        <label>Screen04</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Files</targetReference>
        </connector>
        <fields>
            <name>DisplayFiles2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which file would you like to delete?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CollectionforContentDocument</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-2f69&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-da6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen05</name>
        <label>Screen05</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished</name>
            <fieldText>&lt;p&gt;Success! Click &quot;Finish&quot; to complete the process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Welcome Screen</description>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Files_Related_to_the_Case</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;Hello {!$User.FirstName}. Please use this flow to rename or delete the student&apos;s documents&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete/Rename Files</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the value for CaseId passed from the Screen</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionforContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
