force-app/main/default/flows/ADA_Find_Course_Registrations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Flow looks for new Course Registrations for ADA approved students and creates a case.</description>
    <formulas>
        <name>ModifiedCourseExamName</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Registration_Category__c}=&quot;Course&quot;,&quot;Courses&quot;,&quot;Examinations&quot;)</expression>
    </formulas>
    <interviewLabel>ADA Find Course Registrations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADA Find Course Registrations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolled_Course_Exam_Name__c</field>
            <value>
                <elementReference>$Record.Course_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolled_Course__c</field>
            <value>
                <elementReference>ModifiedCourseExamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4O000004hkUw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124O000000R2AkQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_ID_Number__c</field>
            <value>
                <elementReference>Get_Contact_Info.Student_ID_Number_SIS_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Course/Exam Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>Get_Contact_Info.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Exam_Date__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>ADA Accommodation Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Disability_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disability_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ELIGBLE</stringValue>
            </value>
        </filters>
        <object>Registered_Courses_Exam__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
