force-app/main/default/flows/ADA_Move_Documents_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign values from the get Content Document Records into a collection variable. The collection variable is also used below where we add the content documents related to the email.</description>
        <name>Content_Document_Assignment</name>
        <label>Content Document Assignment</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CollectionforContentDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetContentDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attach_to_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values from the get Content Document Records into a collection variable.</description>
        <name>Content_Document_Assignment11</name>
        <label>Content Document Assignment</label>
        <locationX>710</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>CollectionforContentDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attach_to_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice Variable. Value = No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending_Documentation</name>
        <choiceText>Pending - Documentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending - Documentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verified_Documentation</name>
        <choiceText>Verified - Documentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verified - Documentation</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice Variable. Value= Yes</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Another_Submission</name>
        <label>Another Submission ?</label>
        <locationX>842</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Welcome_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnotherSubmission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen02</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnotherSubmission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Welcome_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Does Duplicate Exist</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Create_new_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Content_Document_Links</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Error_Screen</targetReference>
            </connector>
            <label>Duplicate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Next_Step_Choice</name>
        <label>Duplicate Next Step Choice</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Move_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateNextStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen02</targetReference>
            </connector>
            <label>Yes Move Another</label>
        </rules>
        <rules>
            <name>No_Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateNextStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No Finished</label>
        </rules>
    </decisions>
    <description>This flow is used to move documents between a case to a disability. IN00092304</description>
    <dynamicChoiceSets>
        <name>Verification_Status_cPicklistChoiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Verification_Status__c</picklistField>
        <picklistObject>Disability__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ADA - Move Documents Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADA - Move Documents Screen Flow</label>
    <loops>
        <description>The content document link record simply represents the relationship between a file and the record. This data does not include anything related to the actual file. So in this loop, we take CDL and get details about the actual content document. The values from Content document are used are used in display tables.</description>
        <name>Loop_Content_Document_for_Files_attach_to_Case</name>
        <label>Loop Content Document for Files attach to Case</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Files_Related_to_the_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetContentDocument</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Emails_Related_to_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>The content document link record simply represents the relationship between a file and the record. This data does not include anything related to the actual file. So in this loop, we take CDL and get details about the actual content document. The values from the Content document are used in display tables.</description>
        <name>Loop_Content_Document_for_Files_attach_to_Email</name>
        <label>Loop Content Document for Files attach to Email</label>
        <locationX>622</locationX>
        <locationY>1322</locationY>
        <collectionReference>Get_Files_Related_to_Email_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Emails_related_to_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop takes all emails that are related to the case and passes a single email into the loop. We do this because there can be multiple emails attached to this case and each email could have multiple attachments.</description>
        <name>Loop_Emails_related_to_case</name>
        <label>Loop Emails related to case</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Emails_Related_to_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Files_Related_to_Email_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_Parent_Contact_Disability</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This step takes the documents selected and relate them to the disability selected in the above screens.</description>
        <name>Create_new_Content_Document_Link</name>
        <label>Create new Content Document Link</label>
        <locationX>842</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Update_Disability_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>DisplayFiles.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>DisplayDisability.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>The target of this flow is to take the files from the case and create a new content document link (relationship) between the files and disabilities. By using this get records we are storing all the disabilities of the student that a counselor can then pick.</description>
        <name>Get_all_Parent_Contact_Disability</name>
        <label>Get all Parent Contact Disability</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Disability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>The screen only passes the RecordId, but we need all the case details ahead in the flow, thus querying it right away before we end up in loops and storing ONLY the contact ID.</description>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attach_to_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>we take CDL and get details about the actual content document. The values from the Content document are used in display tables.</description>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Assignment11</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Content_Document_for_Files_attach_to_Email.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>As there are multiple files attached to this case, the files that are sent via an email also need to be displayed on the data table in the screens below. Before we get the Content Document Links of files related to the case, we need to first get the email records related to the case. Below in the flow we loop though each email record and CDL&apos;s in them.</description>
        <name>Get_Emails_Related_to_Case</name>
        <label>Get Emails Related to Case</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Emails_related_to_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Content_Document_Links</name>
        <label>Get Existing Content Document Links</label>
        <locationX>446</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisplayFiles.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisplayDisability.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We are looking for Content Document Links (CDL). CDLs are the sharing record between the file and object, in this case, because we want all files related to an email the LinkedEntityId is the current email in the loop.</description>
        <name>Get_Files_Related_to_Email_Case</name>
        <label>Get Files Related to Email Case</label>
        <locationX>622</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_for_Files_attach_to_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Emails_related_to_case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We are looking for Content Document Links (CDL). CDL&apos;s are the sharing record between the file and object, in this case because we want all files related to a case the LinkedEntityId is the CaseId passed from the screen.</description>
        <name>Get_Files_Related_to_the_Case</name>
        <label>Get Files Related to the Case</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>we take CDL and get details about the actual content document. The values from the Content document are used in display tables.</description>
        <name>GetContentDocument</name>
        <label>GetContentDocument</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Content_Document_for_Files_attach_to_Case.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Verification staus of the disability</description>
        <name>Update_Disability_Record</name>
        <label>Update Disability Record</label>
        <locationX>842</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Screen_04</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisplayDisability.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verification_Status__c</field>
            <value>
                <elementReference>Verification_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Disability__c</object>
    </recordUpdates>
    <screens>
        <name>Duplicate_Error_Screen</name>
        <label>Duplicate Error Screen</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Duplicate_Next_Step_Choice</targetReference>
        </connector>
        <fields>
            <name>DuplicateNextStep</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your file already exists in the Disability record. Would you like to move another file?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try again</backButtonLabel>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;Opps! There seems to be an error in the process. To help us troubleshoot your issue, please create a Rememedyforce Ticket and include the following details in the ticket. This will allow us to investigate the issue further and find a solution. Thank you! &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Record Id: {!CaseId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen02</name>
        <label>Screen02</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen03</targetReference>
        </connector>
        <fields>
            <name>DisplayFiles</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments related to this case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CollectionforContentDocument</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-adb7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-2118&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen03</name>
        <label>Screen03</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Content_Document_Links</targetReference>
        </connector>
        <fields>
            <name>DisplayDisability</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Disability__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Disability Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_Parent_Contact_Disability</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Disability__c&quot;,&quot;guid&quot;:&quot;column-6ca7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Disability&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Disability_Code__c&quot;,&quot;guid&quot;:&quot;column-d144&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Disability Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Verification_Status__c&quot;,&quot;guid&quot;:&quot;column-138b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Verification Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Verification_Status_Date__c&quot;,&quot;guid&quot;:&quot;column-eb0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Verification Status Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verification_Status</name>
            <choiceReferences>Verified_Documentation</choiceReferences>
            <choiceReferences>Pending_Documentation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Verification Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_04</name>
        <label>Screen 04</label>
        <locationX>842</locationX>
        <locationY>2570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Another_Submission</targetReference>
        </connector>
        <fields>
            <name>AnotherSubmission</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Success! Would you like to move another file?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Welcome Screen</description>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Files_Related_to_the_Case</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Hello {!$User.FirstName}. Please use this flow to move the student&apos;s documents into the Disability record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Move Files</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the value of Contact ID Related to the case. Retrieved from get case details</description>
        <name>CaseContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the value for CaseId passed from the Screen</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionforContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
