force-app/main/default/flows/Assign_to_Faculty_Chatter_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>User_Id_Match_Chatter_Group_Member</name>
        <label>User Id Match Chatter Group Member</label>
        <locationX>731</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotaMember_of_Chatter_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatterGroupMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Faculty_Chatter_Group</targetReference>
            </connector>
            <label>Not a Member of Chatter Group</label>
        </rules>
    </decisions>
    <formulas>
        <description>Get UserId of user that launched flow</description>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Assign to Faculty User Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign to Faculty Chatter Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_User_to_Faculty_Chatter_Group</name>
        <label>Add User to Faculty Chatter Group</label>
        <locationX>1067</locationX>
        <locationY>24</locationY>
        <inputAssignments>
            <field>CollaborationGroupId</field>
            <value>
                <elementReference>Get_Faculty_Chatter_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Member</name>
        <label>Check if Member</label>
        <locationX>566</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Id_Match_Chatter_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Faculty_Chatter_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <object>CollaborationGroupMember</object>
        <outputAssignments>
            <assignToReference>ChatterGroupMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Faculty_Chatter_Group</name>
        <label>Get Faculty Chatter Group</label>
        <locationX>390</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Faculty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>Get_Faculty_Chatter_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChatterGroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupMemberUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the user&apos;s ID</description>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
