force-app/main/default/flows/Attribute_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>New/Update on Licensure</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>New/Update on Attributes</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Auto task to SON on New/Updates to Licensure type Attribute by Faculty</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY() + $CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.Quantity__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_7_A1_5649095222</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.Quantity__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.Name_Subject__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_7_A1_1605554158</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.Name_Subject__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY() + $CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.Quantity__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_7154312927</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.Quantity__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.Description_Text_Area__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_0499729582</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.Description_Text_Area__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.ID__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_0982979097</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.ID__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.Name_Subject__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_7850660530</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Faculty_Management__mdt.SON_Licensure_Task.Name_Subject__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.ID__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_0180373802</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.ID__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.Description_Text_Area__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_7_A1_7883238737</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Faculty_Management__mdt.Clinical_Credential_Task.Description_Text_Area__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$Profile.Name = &apos;Faculty&apos;,
	[hed__Attribute__c].RecordType.DeveloperName = &apos;Nursing_Credential&apos;,
	TEXT([hed__Attribute__c].hed__Attribute_Type__c ) =&apos;Licensure&apos;,
	OR (
		ISNEW(),
		ISCHANGED([hed__Attribute__c].Credential_Number__c ),
		ISCHANGED ([hed__Attribute__c].hed__End_Date__c ),
                ISCHANGED ([hed__Attribute__c].hed__Start_Date__c ))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$Profile.Name} = &apos;Faculty&apos;,
	{!myVariable_current.RecordType.DeveloperName} = &apos;Nursing_Credential&apos;,
	TEXT({!myVariable_current.hed__Attribute_Type__c} ) =&apos;Licensure&apos;,
	OR (
		ISNEW(),
		ISCHANGED({!myVariable_current.Credential_Number__c} ),
		ISCHANGED ({!myVariable_current.hed__End_Date__c} ),
                ISCHANGED ({!myVariable_current.hed__Start_Date__c} ))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$Profile.Name = &apos;Faculty&apos;,
	[hed__Attribute__c].RecordType.DeveloperName = &apos;Nursing_Credential&apos;,
	TEXT([hed__Attribute__c].hed__Attribute_Type__c ) =&apos;Licensure&apos;,
	OR (
		ISNEW(),
		ISCHANGED([hed__Attribute__c].Credential_Number__c ),
		ISCHANGED ([hed__Attribute__c].hed__End_Date__c ),
                ISCHANGED ([hed__Attribute__c].hed__Start_Date__c ))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$Profile.Name} = &apos;Faculty&apos;,
	{!myVariable_old.RecordType.DeveloperName} = &apos;Nursing_Credential&apos;,
	TEXT({!myVariable_old.hed__Attribute_Type__c} ) =&apos;Licensure&apos;,
	OR (
		ISNEW(),
		ISCHANGED({!myVariable_old.Credential_Number__c} ),
		ISCHANGED ({!myVariable_old.hed__End_Date__c} ),
                ISCHANGED ({!myVariable_old.hed__Start_Date__c} ))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$Profile.Name = &apos;Faculty&apos;,
	[hed__Attribute__c].RecordType.DeveloperName = &apos;Clinical_Credential&apos;,
	OR (
		ISNEW(),
                ISCHANGED([hed__Attribute__c].Name ),
              
		ISCHANGED([hed__Attribute__c].Credential_Number__c ),
                ISCHANGED([hed__Attribute__c].hed__Start_Date__c ),
		ISCHANGED ([hed__Attribute__c].hed__End_Date__c ))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$Profile.Name} = &apos;Faculty&apos;,
	{!myVariable_current.RecordType.DeveloperName} = &apos;Clinical_Credential&apos;,
	OR (
		ISNEW(),
                ISCHANGED({!myVariable_current.Name} ),
              
		ISCHANGED({!myVariable_current.Credential_Number__c} ),
                ISCHANGED({!myVariable_current.hed__Start_Date__c} ),
		ISCHANGED ({!myVariable_current.hed__End_Date__c} ))
)</expression>
    </formulas>
    <interviewLabel>Attribute_Process-2_InterviewLabel</interviewLabel>
    <label>Attribute_Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>hed__Attribute__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Task to SON</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_7154312927</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_0499729582</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_0982979097</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_7850660530</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_BPM__Conductor__c;Account;Asset;AssetRelationship;BMCServiceDesk__BMC_BusinessService__c;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__Change_Request_Service_Target__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Incident_Service_Target__c;BMCServiceDesk__Incident__c;BMCServiceDesk__QueueTimeTracking__c;BMCServiceDesk__SRM_Entitlement_Console__c;BMCServiceDesk__SRM_RequestDetailInputs__c;BMCServiceDesk__SRM_RequestDetail__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;Campaign;Case;CommSubscriptionConsent;ContactRequest;Contract;Course_Exam_Approval__c;Degree_Program__c;Duo_Team__c;Education__c;Evaluation__c;Expected_Transcript__c;Experience_Course__c;Experience__c;Facility_Requirement__c;Faculty_Grade_Exception__c;Faculty_List__c;Faculty_Participation__c;ListEmail;LiveAgentSession;LiveChatTranscript;NewEd__Client_Program__c;NewEd__Contact_Info__c;NewEd__Contact_Permission__c;NewEd__Occupation_Interest__c;OA_Engagements__c;OA_Location__c;OA_Project__c;OA_SAP__c;Opportunity;PartyConsent;Payment__c;Product2;Qualified_Course__c;Qualified_Faculty__c;Registered_Courses_Exam__c;SIS_Activity_Log__c;SIS_Important_Comment__c;Solution;TEAS_Score__c;Training_Assignments__c;UserLoginHistory__c;Utilization__c;bofc__BOFCBulkLeadConversion__c;bofc__BOFCErrorLogs__c;bofc__BOFCFieldsAnalyzerPicklistResult__c;bofc__BOFCFieldsAnalyzerResult__c;bofc__BOFCFieldsAnalyzer__c;bofc__BOFCOtherthings__c;bofc__BOFCProfileExtract__c;bofc__BOFCReportResults__c;forcebrain__Billing__c;forcebrain__EventParticipant__c;forcebrain__Event__c;forcebrain__Family_Members__c;forcebrain__Location__c;forcebrain__Message__c;forcebrain__Room__c;forcebrain__ServiceProviderAssociation__c;hed__Attendance_Event__c;hed__Attribute__c;hed__Behavior_Involvement__c;hed__Behavior_Response__c;hed__Course_Enrollment__c;hed__Course_Offering_Schedule__c;hed__Course_Offering__c;hed__Term_Grade__c;hed__Test_Score__c;hed__Test__c;hed__Time_Block__c;smagicinteract__Action_Object__c;smagicinteract__Action_Parameter__c;smagicinteract__Action__c;smagicinteract__Conversation__c;smagicinteract__Converse_App_Action__c;smagicinteract__Converse_App__c;smagicinteract__Error_Log__c;smagicinteract__Incoming_Alert_Configuration__c;smagicinteract__Incoming_SMS__c;smagicinteract__Message_Action__c;smagicinteract__Message_Object_Config__c;smagicinteract__Object_Field_Config__c;smagicinteract__Object_Metadata_Config__c;smagicinteract__Optout_Settings__c;smagicinteract__SMS_Batch_Execution_Tracker__c;smagicinteract__SMS_Schedule__c;smagicinteract__SMS_Template__c;smagicinteract__SenderId_Profile_Map__c;smagicinteract__forward_config__c;smagicinteract__incoming_lookup_config__c;smagicinteract__lookup_config__c;smagicinteract__smsMagic__c;smagicschedule__SMS_Schedule__c;smagicworkflow__Batch_Execution_Tracker__c;smagicworkflow__WorkflowXMLMap__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.hed__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A1</name>
        <label>Task to Review Credential</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_10_myRule_7_A1_5649095222</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_9_myRule_7_A1_7883238737</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_0180373802</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_11_myRule_7_A1_1605554158</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_BPM__Conductor__c;Account;Asset;AssetRelationship;BMCServiceDesk__BMC_BusinessService__c;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__Change_Request_Service_Target__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Incident_Service_Target__c;BMCServiceDesk__Incident__c;BMCServiceDesk__SRM_Entitlement_Console__c;BMCServiceDesk__SRM_RequestDetailInputs__c;BMCServiceDesk__SRM_RequestDetail__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;Campaign;Case;CommSubscriptionConsent;ContactRequest;Contract;Course_Exam_Approval__c;Degree_Program__c;Duo_Team__c;Education__c;Evaluation__c;Expected_Transcript__c;Experience_Course__c;Experience__c;Facility_Requirement__c;Faculty_Grade_Exception__c;Faculty_List__c;Faculty_Participation__c;ListEmail;LiveAgentSession;LiveChatTranscript;NewEd__Client_Program__c;NewEd__Contact_Info__c;NewEd__Contact_Permission__c;NewEd__Occupation_Interest__c;OA_Engagements__c;OA_Location__c;OA_Project__c;OA_SAP__c;Opportunity;PartyConsent;Payment__c;Product2;Qualified_Faculty__c;Registered_Courses_Exam__c;SIS_Activity_Log__c;SIS_Important_Comment__c;Solution;TEAS_Score__c;Training_Assignments__c;UserLoginHistory__c;Utilization__c;forcebrain__Billing__c;forcebrain__EventParticipant__c;forcebrain__Event__c;forcebrain__Family_Members__c;forcebrain__Location__c;forcebrain__Message__c;forcebrain__Room__c;forcebrain__ServiceProviderAssociation__c;hed__Attendance_Event__c;hed__Attribute__c;hed__Behavior_Involvement__c;hed__Behavior_Response__c;hed__Course_Enrollment__c;hed__Course_Offering_Schedule__c;hed__Course_Offering__c;hed__Term_Grade__c;hed__Test_Score__c;hed__Test__c;hed__Time_Block__c;smagicinteract__Action_Object__c;smagicinteract__Action_Parameter__c;smagicinteract__Action__c;smagicinteract__Conversation__c;smagicinteract__Converse_App_Action__c;smagicinteract__Converse_App__c;smagicinteract__Error_Log__c;smagicinteract__Incoming_Alert_Configuration__c;smagicinteract__Incoming_SMS__c;smagicinteract__Message_Action__c;smagicinteract__Message_Object_Config__c;smagicinteract__Object_Field_Config__c;smagicinteract__Object_Metadata_Config__c;smagicinteract__Optout_Settings__c;smagicinteract__SMS_Batch_Execution_Tracker__c;smagicinteract__SMS_Schedule__c;smagicinteract__SMS_Template__c;smagicinteract__SenderId_Profile_Map__c;smagicinteract__forward_config__c;smagicinteract__incoming_lookup_config__c;smagicinteract__lookup_config__c;smagicinteract__smsMagic__c;smagicschedule__SMS_Schedule__c;smagicworkflow__Batch_Execution_Tracker__c;smagicworkflow__WorkflowXMLMap__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.hed__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Attribute__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Attribute__c</objectType>
    </variables>
</Flow>
