force-app/main/default/flows/Budget_Entry_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Month_Decision_Value</name>
        <label>Assign Month Decision Value</label>
        <locationX>1176</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>vMonthFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCreateAnotherMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCreate_Another_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Month_Value</name>
        <label>Assign Month Value</label>
        <locationX>169</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>vCalMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_from_Screen_to_Variables</name>
        <label>Assign Values from Screen to Variables</label>
        <locationX>177</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>vTotalMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldNumber_of_Months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTargetImpressions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTarget_Impressions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTargetResponses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTarget_Responses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTargetLeads</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTarget_Leads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTargetApplications</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTarget_Applications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTargetEnrollments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTarget_Enrollments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBudgetedCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldBudgeted_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMonthCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldNumber_of_Months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTargetAdmissions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTarget_Admissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scSelect_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Month_Counter_Subtraction</name>
        <label>Month Counter Subtraction</label>
        <locationX>454</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>vMonthCounter</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Another_Month_or_Exit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chAugust</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>chConsecutive</name>
        <choiceText>Consecutive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consecutive</stringValue>
        </value>
    </choices>
    <choices>
        <name>chJuly</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>chMonth_by_Month</name>
        <choiceText>Month by Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Month by Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>chSeptember</name>
        <choiceText>September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September</stringValue>
        </value>
    </choices>
    <constants>
        <description>Number of Months must be less than 13. Used in validate function</description>
        <name>cMonths</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cRT_BudgetandResult</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Budget_and_Result</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRT_Source</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Source</stringValue>
        </value>
    </constants>
    <constants>
        <description>Budget and Results</description>
        <name>cSOBJ_BudgetandResults</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Budget__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSOBJ_Campaign</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Another_Month_or_Exit</name>
        <label>Create Another Month or Exit</label>
        <locationX>454</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>scExit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>outcomeSelect_Another_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMonthCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scSelect_Month</targetReference>
            </connector>
            <label>Select Another Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreate_Another_Month</name>
        <label>Create Another Month</label>
        <locationX>895</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>scExit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>decCreate_Another_Month_Manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMonthFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Month_by_Month_budget_entry</targetReference>
            </connector>
            <label>Create Another Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_by_Month_or_Consecutive_Decision</name>
        <label>Month by Month or Consecutive Decision</label>
        <locationX>625</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>scConsecutive_Month_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consecutive</defaultConnectorLabel>
        <rules>
            <name>outcomeMonth_by_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldMethod_of_Budget_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chMonth_by_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Month_by_Month_budget_entry</targetReference>
            </connector>
            <label>Month by Month</label>
        </rules>
    </decisions>
    <description>201702 added Target Admissions</description>
    <dynamicChoiceSets>
        <name>dynCalMonths</name>
        <dataType>String</dataType>
        <displayField>TextValue__c</displayField>
        <object>CalendarMonthList__c</object>
        <outputAssignments>
            <assignToReference>vCalMonth</assignToReference>
            <field>TextValue__c</field>
        </outputAssignments>
        <sortField>NumberValue__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>TextValue__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ffBudgetedCostperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vBudgetedCost}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ffTargetAdmissionsperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vTargetAdmissions}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ffTargetApplicationsperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vTargetApplications}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ffTargetEnrollmentsperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vTargetEnrollments}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ffTargetImpressionsperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vTargetImpressions}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ffTargetLeadsperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vTargetLeads}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ffTargetResponsesperMonth</name>
        <dataType>Number</dataType>
        <expression>{!vTargetResponses}/{!vTotalMonths}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Budget Entry Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget Entry Form</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget_Record</name>
        <label>Create Budget Record</label>
        <locationX>168</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Month_Counter_Subtraction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Budgeted_Cost__c</field>
            <value>
                <elementReference>ffBudgetedCostperMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>vCalMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ttBudgetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent__c</field>
            <value>
                <elementReference>vParentCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vBudgetRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Admissions__c</field>
            <value>
                <elementReference>ffTargetAdmissionsperMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Applications__c</field>
            <value>
                <elementReference>ffTargetApplicationsperMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Enrollments__c</field>
            <value>
                <elementReference>ffTargetEnrollmentsperMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Impressions__c</field>
            <value>
                <elementReference>ffTargetImpressionsperMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Leads__c</field>
            <value>
                <elementReference>ffTargetLeadsperMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Responses__c</field>
            <value>
                <elementReference>ffTargetResponsesperMonth</elementReference>
            </value>
        </inputAssignments>
        <object>Budget__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Record_Type</name>
        <label>Get Budget Record Type</label>
        <locationX>626</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Source_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cRT_BudgetandResult</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cSOBJ_BudgetandResults</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vBudgetRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Source_Record_Type</name>
        <label>Get Campaign Source Record Type</label>
        <locationX>626</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cRT_Source</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cSOBJ_Campaign</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vSourceRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Source_Information</name>
        <label>Lookup Source Information</label>
        <locationX>627</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Month_by_Month_or_Consecutive_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentCampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>vRelatedRecordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vStartFYQ</assignToReference>
            <field>Start_FYQ__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>2</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtFAULT</name>
            <fieldText>contact sys admin - error

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scConsectutive_or_Month_by_Month_Decision</name>
        <label>Consectutive or Month by Month Decision</label>
        <locationX>627</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Campaign_Source_Record_Type</targetReference>
        </connector>
        <fields>
            <name>fldMethod_of_Budget_Creation</name>
            <choiceReferences>chConsecutive</choiceReferences>
            <choiceReferences>chMonth_by_Month</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of Budget Creation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scConsecutive_Month_Entry</name>
        <label>Consecutive Month Entry</label>
        <locationX>176</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_from_Screen_to_Variables</targetReference>
        </connector>
        <fields>
            <name>fldNumber_of_Months</name>
            <dataType>Number</dataType>
            <fieldText>Number of Months</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.{!cMonths}</errorMessage>
                <formulaExpression>13 - {!fldNumber_of_Months} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>fldBudgeted_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Budgeted Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fldTarget_Impressions</name>
            <dataType>Number</dataType>
            <fieldText>Target Impressions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fldTarget_Responses</name>
            <dataType>Number</dataType>
            <fieldText>Target Responses</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fldTarget_Leads</name>
            <dataType>Number</dataType>
            <fieldText>Target Leads</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fldTarget_Applications</name>
            <dataType>Number</dataType>
            <fieldText>Target Applications</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fldTarget_Admissions</name>
            <dataType>Number</dataType>
            <fieldText>Target Admissions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fldTarget_Enrollments</name>
            <dataType>Number</dataType>
            <fieldText>Target Enrollments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scExit</name>
        <label>Exit</label>
        <locationX>635</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scSelect_Month</name>
        <label>Select Month</label>
        <locationX>169</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Month_Value</targetReference>
        </connector>
        <fields>
            <name>fldMonth</name>
            <choiceReferences>dynCalMonths</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dtBudgetingForCampaignName</name>
            <fieldText>Budgeting for: {!vRelatedRecordName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtBudgetedCostperMonth</name>
            <fieldText>Budgeted Cost per Month: ${!ffBudgetedCostperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTargetImpressionsperMonth</name>
            <fieldText>Target Impressions per Month: {!ffTargetImpressionsperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTargetResponsesperMonth</name>
            <fieldText>Target Responses per Month: {!ffTargetResponsesperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTargetLeadsperMonth</name>
            <fieldText>Target Leads per Month: {!ffTargetLeadsperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTargetApplicationsperMonth</name>
            <fieldText>Target Applications per Month: {!ffTargetApplicationsperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTargetAdmissionsperMonth</name>
            <fieldText>Target Admissions per Month: {!ffTargetAdmissionsperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTargetEnrollmentsperMonth</name>
            <fieldText>Target Enrollments per Month: {!ffTargetEnrollmentsperMonth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtProgress</name>
            <fieldText>Total Months Remaining to Budget: {!vMonthCounter}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>scConsectutive_or_Month_by_Month_Decision</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Month_by_Month_budget_entry</name>
        <label>Month by Month budget entry</label>
        <locationX>1039</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Assign_Month_Decision_Value</targetReference>
        </connector>
        <flowName>Non_Source_Budget_Entry</flowName>
        <inputAssignments>
            <name>vParentId</name>
            <value>
                <elementReference>vParentCampaignId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCreateAnotherMonth</assignToReference>
            <name>vCreateAnotherBudget</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ttBudgetName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!vRelatedRecordName} - {!vCalMonth}</text>
    </textTemplates>
    <variables>
        <name>vBudgetedCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Budget Record Type ID</description>
        <name>vBudgetRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCalMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCreateAnotherMonth</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCreateAnotherMonthBudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Consecutive month name assigned each time the screen is re-entered.</description>
        <name>vMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMonthCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vMonthFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent ID of the campaign stored in the button URL</description>
        <name>vParentCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Source Record Type ID</description>
        <name>vSourceRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStartFYQ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTargetAdmissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetApplications</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetEnrollments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetImpressions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetResponses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTotalMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
