force-app/main/default/flows/Campaign_Run_Budget_Entry_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>chNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>UniqueName</name>
        <choiceText>--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>cRT_Source</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Source</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSOBJ_Campaign</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </constants>
    <description>9/8/2015 add ttSourceName
2/17/2016 add Groups
12/29/2023 add forSourceName to replace ttSourceName. Eliminates trailing --_ characters when Differentiator and FYQ are null. NOTE: this is done in RT-C-BS- Campaign Name, not here
3/28/2024 Added status = Active and four new member status records.</description>
    <dynamicChoiceSets>
        <name>dynAffiliate</name>
        <dataType>String</dataType>
        <displayField>Affiliate__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <object>Affiliate__c</object>
        <outputAssignments>
            <assignToReference>vAffiliateCode</assignToReference>
            <field>Affiliate_Code__c</field>
        </outputAssignments>
        <sortField>Affiliate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Affiliate__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynAffiliate2</name>
        <dataType>String</dataType>
        <displayField>Affiliate__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <object>Affiliate__c</object>
        <outputAssignments>
            <assignToReference>vAffiliateCode</assignToReference>
            <field>Affiliate_Code__c</field>
        </outputAssignments>
        <sortField>Affiliate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Affiliate__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynAudience</name>
        <dataType>String</dataType>
        <displayField>Audience__c</displayField>
        <object>Audience__c</object>
        <valueField>Audience__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynDifferentiator</name>
        <dataType>String</dataType>
        <displayField>Differentiator__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <object>Differentiator__c</object>
        <outputAssignments>
            <assignToReference>vDifferentiatorCode</assignToReference>
            <field>Differentiator_Code__c</field>
        </outputAssignments>
        <sortField>Differentiator__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Differentiator__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynDifferentiator2</name>
        <dataType>String</dataType>
        <displayField>Differentiator__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <object>Differentiator__c</object>
        <outputAssignments>
            <assignToReference>vDifferentiatorCode</assignToReference>
            <field>Differentiator_Code__c</field>
        </outputAssignments>
        <sortField>Differentiator__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Differentiator__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynDivision</name>
        <dataType>String</dataType>
        <displayField>Division__c</displayField>
        <object>Division__c</object>
        <sortField>Division__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Division__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynMediaChannel</name>
        <dataType>String</dataType>
        <displayField>Media_Channel__c</displayField>
        <object>MediaChannel__c</object>
        <outputAssignments>
            <assignToReference>vMediaChannelCode</assignToReference>
            <field>Media_Channel_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMediaType</assignToReference>
            <field>Media_Type__c</field>
        </outputAssignments>
        <sortField>Media_Channel__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Media_Channel__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynStart_FYQ</name>
        <dataType>String</dataType>
        <displayField>Start_FYQ__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCampaignFY</elementReference>
            </value>
        </filters>
        <object>Start_FYQ__c</object>
        <sortField>Start_FYQ__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Start_FYQ__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fNewCampaignName</name>
        <dataType>String</dataType>
        <expression>{!vParentCampaignCode} &amp; &quot;_&quot; &amp; {!vAffiliateCode} &amp; &quot;_&quot; &amp; {!vMediaChannelCode}
 &amp; 
IF(ISBLANK({!vDifferentiatorCode}) || {!vDifferentiatorCode} = &apos;--&apos;, &quot;&quot;, &quot;_&quot; &amp; {!vDifferentiatorCode})
&amp;  IF(ISBLANK({!vCampaignFY}), &quot;&quot;, &quot;_&quot; &amp; {!vCampaignFY})</expression>
    </formulas>
    <formulas>
        <description>Replaces the text template as it adds unnecessary dashes and underscores when no differentiator and year are chosen</description>
        <name>forSourceName</name>
        <dataType>String</dataType>
        <expression>&quot;HELP ME&quot;</expression>
    </formulas>
    <interviewLabel>Campaign - Run Budget Entry Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Campaign - Run Budget Entry Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Add member status Attended to the newly created source campaign.</description>
        <name>Create_Member_Status_Attended</name>
        <label>Create Member Status Attended</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Member_Status_Clicked</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vSourceRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Add member status Clicked to the newly created source campaign.</description>
        <name>Create_Member_Status_Clicked</name>
        <label>Create Member Status Clicked</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Member_Status_Converted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vSourceRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Clicked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Add member status Converted to the newly created source campaign.</description>
        <name>Create_Member_Status_Converted</name>
        <label>Create Member Status Converted</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Member_Status_Registered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vSourceRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Add member status Registered to the newly created source campaign.</description>
        <name>Create_Member_Status_Registered</name>
        <label>Create Member Status Registered</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Run_BudgetForm</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vSourceRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Source_Record_1</name>
        <label>Create New Source Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>vSourceRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Member_Status_Attended</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Affiliate_Code__c</field>
            <value>
                <elementReference>vAffiliateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate__c</field>
            <value>
                <elementReference>fldAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audience__c</field>
            <value>
                <elementReference>fldAudience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Differentiator_Code__c</field>
            <value>
                <elementReference>vDifferentiatorCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Differentiator__c</field>
            <value>
                <elementReference>fldDifferentiator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>fldDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fldEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Channel_Code__c</field>
            <value>
                <elementReference>vMediaChannelCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Channel__c</field>
            <value>
                <elementReference>fldMediaChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Type__c</field>
            <value>
                <elementReference>vMediaType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium_Code__c</field>
            <value>
                <elementReference>ttMediumCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>ttMedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fNewCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vSourceRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fldStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_FYQ__c</field>
            <value>
                <elementReference>fldStart_FYQ</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Source_RT_ID</name>
        <label>Get Source RT ID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scnEnter_Source_Data</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cRT_Source</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cSOBJ_Campaign</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vSourceRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Campaign_Record</name>
        <label>Lookup Campaign Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_RT_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>vParentCampaignCode</assignToReference>
            <field>Campaign_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCampaignFY</assignToReference>
            <field>Initiative_Fiscal_Year__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCampaignName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>FaultScreen</name>
        <label>Fault Screen</label>
        <locationX>1496</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTFault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnEnter_Source_Data</name>
        <label>Enter Source Data</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Source_Record_1</targetReference>
        </connector>
        <fields>
            <name>disCampaignName</name>
            <fieldText>Campaign Name: {!vCampaignName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fldMediaChannel</name>
            <choiceReferences>dynMediaChannel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Media Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldAffiliate</name>
            <choiceReferences>dynAffiliate</choiceReferences>
            <choiceReferences>dynAffiliate2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Affiliate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldDifferentiator</name>
            <choiceReferences>dynDifferentiator</choiceReferences>
            <choiceReferences>dynDifferentiator2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Differentiator</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldStart_FYQ</name>
            <choiceReferences>dynStart_FYQ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Start FYQ</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldAudience</name>
            <choiceReferences>dynAudience</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Audience</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldDivision</name>
            <choiceReferences>dynDivision</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Division</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fldEndDate</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>disChooseMedium</name>
            <fieldText>Click Next to enter budget data.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Campaign_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Run_BudgetForm</name>
        <label>Run BudgetForm</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <flowName>Budget_Entry_Form</flowName>
        <inputAssignments>
            <name>vParentCampaignId</name>
            <value>
                <elementReference>vSourceRecordID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vMonthFlag</assignToReference>
            <name>vMonthFlag</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Medium template: Affiliate - Media Channel</description>
        <name>ttMedium</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!fldAffiliate} - {!fldMediaChannel}</text>
    </textTemplates>
    <textTemplates>
        <description>Medium Code template: Affiliate Code - Media Channel Code</description>
        <name>ttMediumCode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!vAffiliateCode} - {!vMediaChannelCode}</text>
    </textTemplates>
    <textTemplates>
        <name>ttSourceName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!vParentCampaignCode}_{!vAffiliateCode}_{!vMediaChannelCode}_{!vDifferentiatorCode}_{!fldStart_FYQ}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>vAffiliateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBudgetedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vCampaignFY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Parent ID of the campaign stored in the button URL</description>
        <name>vCampaignParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDifferentiator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDifferentiatorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFiscalQuarter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIsDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMediaChannelCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMediaType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMonthFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A counter of the number of months that the user selects. For each pass through the subflow, the counter will be subtracted by one, and once the value = 0, the flow will assign the flow to the finish screen.</description>
        <name>vMonthsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vNewBudgetRecordDecision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Source Record ID created in the first half of the process.</description>
        <name>vSourceRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Source Record Type ID</description>
        <name>vSourceRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTargetApplications</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetEnrollments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetImpressions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTargetResponses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
