force-app/main/default/flows/CE_User_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Found_Group_Member</name>
        <label>Found Group Member?</label>
        <locationX>390</locationX>
        <locationY>504</locationY>
        <defaultConnectorLabel>Found Group</defaultConnectorLabel>
        <rules>
            <name>No_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateGroupMember</targetReference>
            </connector>
            <label>No Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>PermSetAssigned</name>
        <label>PermSetAssigned?</label>
        <locationX>387</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>GetGroupAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermSetAssign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePermSetAssignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>GroupID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CE_Group}</expression>
    </formulas>
    <formulas>
        <name>PermSetID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CE_Perm_Set_ID}</expression>
    </formulas>
    <interviewLabel>CE User Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CE User Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateGroupMember</name>
        <label>CreateGroupMember</label>
        <locationX>584</locationX>
        <locationY>504</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>USERID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePermSetAssignment</name>
        <label>CreatePermSetAssignment</label>
        <locationX>606</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetGroupAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>USERID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PermSetID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetGroupAssignment</name>
        <label>GetGroupAssignment</label>
        <locationX>397</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>USERID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>GroupMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPermSetAssignment</name>
        <label>GetPermSetAssignment</label>
        <locationX>208</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermSetAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>USERID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermSetID</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>PermSetAssign</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>46</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>GetPermSetAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermSetAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USERID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
