force-app/main/default/flows/Clone_OA_Engagements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>FY</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FY__c</picklistField>
        <picklistObject>OA_Engagements__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForAttending</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Attending__c</picklistField>
        <picklistObject>OA_Engagements__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fEndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!End_Date})</expression>
    </formulas>
    <formulas>
        <name>fStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Start_Date})</expression>
    </formulas>
    <interviewLabel>Clone OA Engagements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone OA Engagements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone</name>
        <label>Clone</label>
        <locationX>507</locationX>
        <locationY>388</locationY>
        <assignRecordIdToReference>vNewEngagementID</assignRecordIdToReference>
        <connector>
            <targetReference>scnSuccess</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>vAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agenda__c</field>
            <value>
                <elementReference>vAgenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Campus_Site__c</field>
            <value>
                <elementReference>vBuildingCampusSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>vCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Outcomes__c</field>
            <value>
                <elementReference>vDesiredOutcomes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>fEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FY__c</field>
            <value>
                <elementReference>infldFY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_Cost__c</field>
            <value>
                <elementReference>infldTravelExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>vLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>infldEventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>vNextSteps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OA_Location__c</field>
            <value>
                <elementReference>vOA_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_Level__c</field>
            <value>
                <elementReference>vPriorityLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Attending__c</field>
            <value>
                <elementReference>infldReasonForAttending</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>vPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_Coordinator__c</field>
            <value>
                <elementReference>vResponsible_Coordinator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sensitivity__c</field>
            <value>
                <elementReference>vSensitivity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>fStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Outreach__c</field>
            <value>
                <elementReference>vTypeofOutreach</elementReference>
            </value>
        </inputAssignments>
        <object>OA_Engagements__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Engagement_Detail</name>
        <label>Get Engagement Detail</label>
        <locationX>500</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scnInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOldEngagementID</elementReference>
            </value>
        </filters>
        <object>OA_Engagements__c</object>
        <outputAssignments>
            <assignToReference>vAccount</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAddress</assignToReference>
            <field>Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAgenda</assignToReference>
            <field>Agenda__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBuildingCampusSite</assignToReference>
            <field>Building_Campus_Site__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCategory</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDesiredOutcomes</assignToReference>
            <field>Desired_Outcomes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLocation</assignToReference>
            <field>Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vNextSteps</assignToReference>
            <field>Next_Steps__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOA_Location</assignToReference>
            <field>OA_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPriorityLevel</assignToReference>
            <field>Priority_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPartner</assignToReference>
            <field>Related_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vResponsible_Coordinator</assignToReference>
            <field>Responsible_Coordinator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSensitivity</assignToReference>
            <field>Sensitivity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTypeofOutreach</assignToReference>
            <field>Type_of_Outreach__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>scnInformation</name>
        <label>Information</label>
        <locationX>502</locationX>
        <locationY>295</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clone</targetReference>
        </connector>
        <fields>
            <name>outfldEnterNewEngagementInfo</name>
            <fieldText>Enter new Engagement Infomation</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>infldEventName</name>
            <dataType>String</dataType>
            <fieldText>Event Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>infldFY</name>
            <choiceReferences>FY</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>22</stringValue>
            </defaultValue>
            <fieldText>FY</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>infldReasonForAttending</name>
            <choiceReferences>ReasonForAttending</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason For Attending (check all that apply)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>infldTravelExpenses</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there Cost?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnSuccess</name>
        <label>Success</label>
        <locationX>507</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outfldNewEngagement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Success!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have successfully created a new Engagement record.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>outfldNewEngagementLink</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You may click the link below to access the record and add more information.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://na48.salesforce.com/{!vNewEngagementID}&quot; TARGET=&quot;_blank&quot;&gt;https://na48.salesforce.com/{!vNewEngagementID}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Engagement_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAgenda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBooth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBuildingCampusSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDesiredOutcomes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewEngagementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNextSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOA_Communication_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOA_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOldEngagementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPriorityLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuarterlyPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResponsible_Coordinator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSensitivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSourceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStrategicAccountPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTypeofOutreach</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWebAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
