force-app/main/default/flows/Contact_RR_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>68</locationX>
        <locationY>382</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tFaultEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow **RR Assignment** Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Flow_Error_Recipient</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NoCounselor</name>
        <label>NoCounselor</label>
        <locationX>798</locationX>
        <locationY>169</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tFaultEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow **RR Assignment** Error - No Counselor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Flow_Error_Recipient</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Found_Counselor</name>
        <label>Found Counselor</label>
        <locationX>798</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Counselor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Team</targetReference>
            </connector>
            <label>Counselor</label>
        </rules>
        <rules>
            <name>Counselor_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCounselor</targetReference>
            </connector>
            <label>Counselor Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RR_Team</name>
        <label>Which RR Team?</label>
        <locationX>292</locationX>
        <locationY>165</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Graduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Graduate_Team_Member</targetReference>
            </connector>
            <label>Graduate</label>
        </rules>
        <rules>
            <name>Military</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Military</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Military_Team_Member</targetReference>
            </connector>
            <label>Military</label>
        </rules>
        <rules>
            <name>Veteran</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Veteran</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Veteran_Team_Member</targetReference>
            </connector>
            <label>Veteran</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Team_Member</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>General_Admissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeneralAdmissions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_General_Admissions_Team_Member</targetReference>
            </connector>
            <label>General Admissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RR_Team_0</name>
        <label>Which RR Team?</label>
        <locationX>981</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Graduate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Graduate_TimeLastAssigned</targetReference>
            </connector>
            <label>Graduate</label>
        </rules>
        <rules>
            <name>Military_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Military</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Military_TimeLastAssigned</targetReference>
            </connector>
            <label>Military</label>
        </rules>
        <rules>
            <name>Veteran_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Veteran</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Veteran_TimeLastAssigned</targetReference>
            </connector>
            <label>Veteran</label>
        </rules>
        <rules>
            <name>Partner_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_TimeLastAssigned</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>General_Admissions_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRRTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeneralAdmissions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GA_TimeLastAssigned</targetReference>
            </connector>
            <label>General Admissions</label>
        </rules>
    </decisions>
    <description>Round robin assignment flow for Graduate, Military, Veteran, Partner, and General Admissions teams.</description>
    <formulas>
        <description>Salesforce Admin group email</description>
        <name>Flow_Error_Recipient</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Error_Recipient}</expression>
    </formulas>
    <interviewLabel>Contact_RR_Assignment_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact_RR_Assignment_Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>293</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_RR_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>svContactToBeAassigned</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Admissions_Team_Member</name>
        <label>Get General Admissions Team Member</label>
        <locationX>552</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RR_General_Admissions_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vRRMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCounselorID</assignToReference>
            <field>Member__c</field>
        </outputAssignments>
        <sortField>Time_Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Graduate_Team_Member</name>
        <label>Get Graduate Team Member</label>
        <locationX>553</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RR_Graduate_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vRRMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCounselorID</assignToReference>
            <field>Member__c</field>
        </outputAssignments>
        <sortField>Time_Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Military_Team_Member</name>
        <label>Get Military Team Member</label>
        <locationX>552</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RR_Military_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vRRMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCounselorID</assignToReference>
            <field>Member__c</field>
        </outputAssignments>
        <sortField>Time_Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Team_Member</name>
        <label>Get Partner Team Member</label>
        <locationX>552</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RR_Partner_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vRRMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCounselorID</assignToReference>
            <field>Member__c</field>
        </outputAssignments>
        <sortField>Time_Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Veteran_Team_Member</name>
        <label>Get Veteran Team Member</label>
        <locationX>551</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RR_Veteran_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vRRMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCounselorID</assignToReference>
            <field>Member__c</field>
        </outputAssignments>
        <sortField>Time_Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_Team</name>
        <label>Assign to Team</label>
        <locationX>801</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Which_RR_Team_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vCounselorID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GA_TimeLastAssigned</name>
        <label>Update GA TimeLastAssigned</label>
        <locationX>980</locationX>
        <locationY>552</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRRMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Last_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>RR_General_Admissions_Team_Member__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Graduate_TimeLastAssigned</name>
        <label>Update Graduate TimeLastAssigned</label>
        <locationX>1188</locationX>
        <locationY>321</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRRMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Last_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Graduate_Team_Member__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Military_TimeLastAssigned</name>
        <label>Update Military TimeLastAssigned</label>
        <locationX>1185</locationX>
        <locationY>214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRRMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Last_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Military_Team_Member__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_TimeLastAssigned</name>
        <label>Update Partner TimeLastAssigned</label>
        <locationX>1192</locationX>
        <locationY>545</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRRMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Last_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Partner_Team_Member__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Veteran_TimeLastAssigned</name>
        <label>Update Veteran TimeLastAssigned</label>
        <locationX>1189</locationX>
        <locationY>428</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRRMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Last_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Veteran_Team_Member__c</object>
    </recordUpdates>
    <startElementReference>Get_Contact_Info</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>tFaultEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>** Contact_RR_Assignment_Flow **

****** Current Variable Values ******

Contact ID:          {!vContactID}
RR Team:            {!vRRTeam}
RR Member ID:   {!vRRMemberID}
Counselor ID:      {!vCounselorID}

Current Time:      {!$Flow.CurrentDateTime}
Fault Message:    {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>svContactToBeAassigned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Contact ID from PB process</description>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Counselor&apos;s User ID</description>
        <name>vCounselorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RR Team Members Record ID</description>
        <name>vRRMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input from PB process. Which Round Robin Assignment Team to assign?</description>
        <name>vRRTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
