force-app/main/default/flows/Contact_Admission_Status_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Highest_Probability_Opportunity_Values_to_Contact</name>
        <label>Assign Highest Probability Opportunity Values to Contact</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.Best_Admission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxRecord.Opportunity_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.Best_Admission_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxRecord.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.Best_Admissions_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_contact_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Max_record_to_the_Max_probability_Record</name>
        <label>Assign Max record to the Max probability Record</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>MaxRecord.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Highest_Probability_Opportunity.Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxRecord.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Highest_Probability_Opportunity.Opportunity_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxRecord.Opportunity_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Highest_Probability_Opportunity.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxRecord.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Highest_Probability_Opportunity.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Max_record_to_the_Max_probability_Record_0</name>
        <label>Assign Max record to the Max probability Record</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>MaxRecord.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_all_related_opportunities.Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxRecord.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_all_related_opportunities.Opportunity_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxRecord.Opportunity_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_all_related_opportunities.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxRecord.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_all_related_opportunities.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_all_related_opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_current_opportunity_is_greater_than_max_opporutnity</name>
        <label>Check if current opportunity is greater than max opporutnity</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Loop_on_all_related_opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_all_related_opportunities.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxRecord.Probability</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_all_related_opportunities.LastModifiedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxRecord.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Max_record_to_the_Max_probability_Record_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_Admission_RT</name>
        <label>Check if Opportunity is Admission RT</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Admission Status update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRAA - Contact Admission Status update</label>
    <loops>
        <name>Loop_on_all_related_opportunities</name>
        <label>Loop on all related opportunities</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_All_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_current_opportunity_is_greater_than_max_opporutnity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Highest_Probability_Opportunity_Values_to_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Opportunities</name>
        <label>Get All Related Opportunities</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_all_related_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Probability</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Highest_Probability_Opportunity</name>
        <label>Get Highest Probability Opportunity</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Max_record_to_the_Max_probability_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Probability</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Opportunity_is_Admission_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>traa_Admissions_Enrollments</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Record</name>
        <label>Get Related Contact Record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Highest_Probability_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.traa_Applicant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact_record</name>
        <label>update contact record</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputReference>Get_Related_Contact_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Countrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MaxRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
