force-app/main/default/flows/Create_Flags_from_Course_Offering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email the owner of the new flag to let them know it exists</description>
        <name>Notify_the_Owner</name>
        <label>Notify the Owner</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_the_Submitter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Evaluation4Create.Owner:User.Email}, cmoore@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>student_success_flags@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flag Raised for Student</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyforOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Confirmation Email that a Flag has been Created</description>
        <name>Notify_the_Submitter</name>
        <label>Notify the Submitter</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$User.Email}, cmoore@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>student_success_flags@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flag Creation Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyforSubmitter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>for Evaluation</description>
        <name>Assign_Common_Variables</name>
        <label>Assign Common Variables</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Evaluation4Create.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Type_Eval_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation4Create.Evaluation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flag</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation4Create.Faculty_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentSelection.firstSelectedRow.Student_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation4Create.Flag_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation4Create.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation4Create.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Evaluations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To best Academic Advisor</description>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Evaluation4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentSelection.firstSelectedRow.Student_Name__r.Best_Academic_Advisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Common_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To Faculty</description>
        <name>Assign_Owner1</name>
        <label>Assign Owner</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Evaluation4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Faculty_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Common_Variables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Who_is_running_the_Flow</name>
        <label>Who is running the Flow</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Not_Auth_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Everyone Else</defaultConnectorLabel>
        <rules>
            <name>Faculty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Offering.hed__Faculty__r.Faculty_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.FederationIdentifier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Faculty</label>
        </rules>
        <rules>
            <name>Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Student_Student_Success_Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Faculty_User</targetReference>
            </connector>
            <label>Advisor</label>
        </rules>
    </decisions>
    <description>This flow will be a button/action on the course offering that will let Advisors and Faculty to create &apos;flags&apos;</description>
    <environments>Default</environments>
    <interviewLabel>Create Flags from Course Offering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Flags from Course Offering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Flag</description>
        <name>Create_Evaluations</name>
        <label>Create Evaluation</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Notify_the_Owner</targetReference>
        </connector>
        <inputReference>Evaluation4Create</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This object holds those who have registered for this course offering</description>
        <name>Get_all_Registered_Courses</name>
        <label>Get all Registered Courses</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flag_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exam_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ELIGBLE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Registered_Courses_Exam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get Course Offering</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Student_Type_Eval_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Faculty_User</name>
        <label>Get Faculty User</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Offering.hed__Faculty__r.Faculty_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>we do this to check if the person adding a flag is from the Student Sucess Profile</description>
        <name>Get_Student_Student_Success_Profile</name>
        <label>Get Student Student Success Profile</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Registered_Courses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student Success Center</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Record Type for Evaluation</description>
        <name>Get_Student_Type_Eval_RT</name>
        <label>Get Student Type Eval RT</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Student_Student_Success_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student_Evaluation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;The flag is created for {!StudentSelection.firstSelectedRow.Student_Full_Name__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>New Flag</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flag_Screen</name>
        <label>Flag Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Who_is_running_the_Flow</targetReference>
        </connector>
        <fields>
            <name>StudentSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Registered_Courses_Exam__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Student Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_Registered_Courses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Student_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-a680&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Student Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Auth_Screen</name>
        <label>Not Auth Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoText</name>
            <fieldText>&lt;p&gt;Sorry! This functionality is only available to the Primary Faculty on this course offering or users with Student Sucess Profile.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your supervisor if this is a mistake.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBodyforOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An intervention flag has been raised for student {!Evaluation4Create.Faculty_Member__r.FirstName} {!Evaluation4Create.Faculty_Member__r.LastName} for course offering {!Evaluation4Create.Course_Offering__r.Name}. Please view your open flags list view to access the flag or use the link below. 

Link: https://excelsior--full.sandbox.lightning.force.com/lightning/r/Evaluation__c/{!Evaluation4Create.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyforSubmitter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This email is confirmation that you have created an intervention flag for student {!Evaluation4Create.Faculty_Member__r.FirstName} {!Evaluation4Create.Faculty_Member__r.LastName} for course offering {!Evaluation4Create.Course_Offering__r.Name}. 
Thank You,
Excelsior University</text>
    </textTemplates>
    <variables>
        <name>Evaluation4Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Evaluation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
