force-app/main/default/flows/Create_CI_On_Call_CO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>Create Clinical Instruction On Call CO when the Course Connection Status is Called In</description>
    <formulas>
        <description>Hybrid Course Offering Record Type ID</description>
        <name>HybridCORTId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Hybrid_Clinical_RT}</expression>
    </formulas>
    <formulas>
        <description>New course offering CI On call name</description>
        <name>NewCOCIOnCallname</name>
        <dataType>String</dataType>
        <expression>{!Get_Originating_CO.Name}+&quot; CI On Call&quot;</expression>
    </formulas>
    <interviewLabel>Create CI On Call CO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CI On Call CO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Clinical Instruction On Call CO</description>
        <name>Create_CI_On_Call_CO</name>
        <label>Create CI On Call CO</label>
        <locationX>445</locationX>
        <locationY>420</locationY>
        <assignRecordIdToReference>NewCOId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Course_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Offering_Type__c</field>
            <value>
                <stringValue>Clinical Instructor On Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Hours__c</field>
            <value>
                <elementReference>Get_Originating_CO.Credit_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FPD__c</field>
            <value>
                <elementReference>Get_Originating_CO.FPD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewCOCIOnCallname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Students_Registered__c</field>
            <value>
                <elementReference>Get_Originating_CO.Number_of_Students_Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Hybrid_Clinical_CO__c</field>
            <value>
                <elementReference>Get_Originating_CO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Faculty__c</field>
            <value>
                <elementReference>Get_Qualified_Faculty.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>HybridCORTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course__c</field>
            <value>
                <elementReference>Get_Originating_CO.hed__Course__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__End_Date__c</field>
            <value>
                <elementReference>Get_CC.Course_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Faculty__c</field>
            <value>
                <elementReference>Get_CC.hed__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Start_Date__c</field>
            <value>
                <elementReference>Get_CC.Course_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Term__c</field>
            <value>
                <elementReference>Get_Originating_CO.hed__Term__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get Course Connection record that launched flow</description>
        <name>Get_CC</name>
        <label>Get CC</label>
        <locationX>174</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Originating_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Original Course Offering Record</description>
        <name>Get_Originating_CO</name>
        <label>Get Originating CO</label>
        <locationX>249</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Qualified_Faculty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CC.hed__Course_Offering__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Qualified Faculty Record</description>
        <name>Get_Qualified_Faculty</name>
        <label>Get Qualified Faculty</label>
        <locationX>345</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CI_On_Call_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Originating_CO.hed__Course__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CC.hed__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Qualified_Faculty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Re-Parent the Course Offering Schedule to the new Course Offering CI On Call record</description>
        <name>Update_CO_Schedule</name>
        <label>Update CO Schedule</label>
        <locationX>621</locationX>
        <locationY>530</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CC.Course_Offering_Schedule__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>NewCOId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Connection</name>
        <label>Update Course Connection</label>
        <locationX>538</locationX>
        <locationY>476</locationY>
        <connector>
            <targetReference>Update_CO_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>NewCOId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_CC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Course Connection that launched flow</description>
        <name>CCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
