force-app/main/default/flows/Daily_Record_Check_for_Integrations_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_ANY_Cases</name>
        <label>Get ANY Cases</label>
        <locationX>182</locationX>
        <locationY>2508</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Cases_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Case where LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_ANY_Opportunity</name>
        <label>Get ANY Opportunity</label>
        <locationX>182</locationX>
        <locationY>3324</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Opportunity_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Opportunity   where LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Course_Offerings</name>
        <label>Get Course Offerings</label>
        <locationX>182</locationX>
        <locationY>4140</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Course_Offerings_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>hed__Course_Offering__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from hed__Course_Offering__c where LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_FacultyContact</name>
        <label>Get FacultyContact</label>
        <locationX>182</locationX>
        <locationY>2100</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Faculty_OBJ_Contact_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Contact where RecordTypeId = &apos;0124O000000obWHQAY&apos; AND LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Person_Account_Contact</name>
        <label>Get Person Account Contact</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Person_Account_OBJ_Contact_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Contact where RecordTypeId = &apos;012U0000000QGfiIAG&apos; AND LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_PersonAccount_S1Contact</name>
        <label>Get PersonAccount_S1Contact</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Person_AccountS1_OBJ_Contact_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Contact where RecordTypeId = &apos;012U0000000QJ0UIAW&apos; AND LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_PersonAccount_S2Contact</name>
        <label>Get PersonAccount_S2Contact</label>
        <locationX>182</locationX>
        <locationY>1692</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Person_AccountS2_OBJ_Contact_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Contact where RecordTypeId = &apos;012U0000000QJ0PIAW&apos; AND LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Registered_Courses</name>
        <label>Get Registered Courses</label>
        <locationX>182</locationX>
        <locationY>3732</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Registered_Courses_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Registered_Courses_Exam__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from Registered_Courses_Exam__c where LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_SiS_Activity_Logs</name>
        <label>Get SiS Activity Logs</label>
        <locationX>182</locationX>
        <locationY>2916</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_SiS_Activity_Logs_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>SIS_Activity_Log__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>Select Id from SIS_Activity_Log__c  where LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Text</name>
        <label>Parse Text</label>
        <locationX>50</locationX>
        <locationY>4656</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputTexts</name>
            <value>
                <elementReference>ObjectErrors_Text</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <outputParameters>
            <assignToReference>ObjectErrors_Op</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Get Accounts modified by Integration User</description>
        <name>Query_ACcounts</name>
        <label>Query Accounts</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Accounts_Returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>SELECT Name FROM Account WHERE LastModifiedDate = YESTERDAY AND LastModifiedBy.Email = &apos;integration@excelsior.edu&apos; LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>4764</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>integration@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>eusalesforce@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>SF Integration Alert email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Error_Log</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Account - Record Type - All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_Account_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log1</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Contact - Record Type - Person Accounts </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PersonAccount_S1Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log3</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Contact - Record Type - Person Account_S2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FacultyContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log4</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>2316</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Contact - Record Type - Faculty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ANY_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log5</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>2724</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Case - Record Type - All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SiS_Activity_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log6</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>3540</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Opportunity - Record Type - All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Registered_Courses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log7</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>3948</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Registered Courses - Record Type - All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Course_Offerings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log8</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>4356</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Course Offering - Record Type - All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_Need_to_send_an_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log9</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>3132</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: SiS Activity Logs - Record Type - All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ANY_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Error_Log_2</name>
        <label>Add to Error Log</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>ObjectErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Object: Contact - Record Type - Person Account_S1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PersonAccount_S2Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accounts_Returned</name>
        <label>Accounts Returned</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_ACcounts.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Cases_Returned</name>
        <label>Any Cases Returned</label>
        <locationX>182</locationX>
        <locationY>2616</locationY>
        <defaultConnector>
            <targetReference>Get_SiS_Activity_Logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ANY_Cases.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log5</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Course_Offerings_Returned</name>
        <label>Any Course Offerings Returned</label>
        <locationX>182</locationX>
        <locationY>4248</locationY>
        <defaultConnector>
            <targetReference>Do_we_Need_to_send_an_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Offerings.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log8</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Opportunity_Returned</name>
        <label>Any Opportunity Returned</label>
        <locationX>182</locationX>
        <locationY>3432</locationY>
        <defaultConnector>
            <targetReference>Get_Registered_Courses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ANY_Opportunity.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log6</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Registered_Courses_Returned</name>
        <label>Any Registered Courses Returned</label>
        <locationX>182</locationX>
        <locationY>3840</locationY>
        <defaultConnector>
            <targetReference>Get_Course_Offerings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registered_Courses.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log7</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_SiS_Activity_Logs_Returned</name>
        <label>Any SiS Activity Logs Returned</label>
        <locationX>182</locationX>
        <locationY>3024</locationY>
        <defaultConnector>
            <targetReference>Get_ANY_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SiS_Activity_Logs.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log9</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>{!OrgType} is a variable that checks which enviorment is the flow running in!</description>
        <name>Check_for_Org_Type</name>
        <label>Check for Org Type</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Sandbox</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Subflow.OrgType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_ACcounts</targetReference>
            </connector>
            <label>Production</label>
        </rules>
    </decisions>
    <decisions>
        <description>If any of the Get records do not return a record - we send an email out</description>
        <name>Do_we_Need_to_send_an_email</name>
        <label>Do we Need to send an email ?</label>
        <locationX>182</locationX>
        <locationY>4548</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectErrors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parse_Text</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Faculty_OBJ_Contact_Returned</name>
        <label>Faculty- OBJ Contact Returned</label>
        <locationX>182</locationX>
        <locationY>2208</locationY>
        <defaultConnector>
            <targetReference>Get_ANY_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FacultyContact.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log4</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account_OBJ_Contact_Returned</name>
        <label>Person Account- OBJ Contact Returned</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Get_PersonAccount_S1Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account_Contact.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_AccountS1_OBJ_Contact_Returned</name>
        <label>Person AccountS1- OBJ Contact Returned</label>
        <locationX>182</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Get_PersonAccount_S2Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PersonAccount_S1Contact.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log_2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_AccountS2_OBJ_Contact_Returned</name>
        <label>Person AccountS2- OBJ Contact Returned</label>
        <locationX>182</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>Get_FacultyContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PersonAccount_S2Contact.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Error_Log3</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ObjectErrors_Text</name>
        <dataType>String</dataType>
        <expression>{!ObjectErrors}</expression>
    </formulas>
    <interviewLabel>Daily Record Check for Integrations Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Record Check for Integrations Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Subflow</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-11</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>(Sub) Is this running in Production - Returns {!OrgType}</description>
        <name>Call_Subflow</name>
        <label>Call Subflow</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Check_for_Org_Type</targetReference>
        </connector>
        <flowName>Sub_Is_this_running_in_Production</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,
This email is to notify you that the objects mentioned below were not last modified by an integration user yesterday.

 
{!ObjectErrors_Op}


Please be advised, that this notification does not signify a failure in the object integration process; rather, it is triggered based on the ‘LastModifiedById’ field. There exists a likelihood that these records were altered post-integration by a different user.</text>
    </textTemplates>
    <variables>
        <name>ObjectErrors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectErrors_Op</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
