force-app/main/default/flows/Evaluation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>EvalTypeAssignment</name>
        <label>EvalTypeAssignment</label>
        <locationX>1034</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>EvalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Evaluation_To_Complete_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adj_Perform_Review_Screen1_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AdjustFacultyPerformanceReview</name>
        <choiceText>End of Course Faculty Evaluation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End of Course Faculty Evaluation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClinicalAssociateEvaluationForm</name>
        <choiceText>Clinical Associate Evaluation Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinical Associate Evaluation Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClinicalExaminerEvalForm</name>
        <choiceText>Clinical Examiner Evaluation Form</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Immediate</name>
        <choiceText>Immediate Faculty Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Immediate</stringValue>
        </value>
    </choices>
    <choices>
        <name>x1YR</name>
        <choiceText>1st Year Faculty Evaluation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>x2_wk_Evaluation</name>
        <choiceText>Adjunct Faculty 2-Week Check-in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adjunct Faculty 2-Week Check-in</stringValue>
        </value>
    </choices>
    <choices>
        <name>x3YR</name>
        <choiceText>3 Year Anniversary Faculty Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Year</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Faculty_Populated</name>
        <label>Faculty Populated</label>
        <locationX>709</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Get_Course_Offering</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryFacultyContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Evaluation_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Evaluation_Chosen</name>
        <label>Which Evaluation Chosen?</label>
        <locationX>1153</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Evaluation_To_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x2_wk_Evaluation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>x2week_Screen1</targetReference>
            </connector>
            <label>2 Week</label>
        </rules>
        <rules>
            <name>Adjunct_Faculty_Performance_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Evaluation_To_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdjustFacultyPerformanceReview</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adj_Perform_Review_Screen1</targetReference>
            </connector>
            <label>Adjunct Faculty Performance Review</label>
        </rules>
        <rules>
            <name>Clinical_Associate_Evaluation_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Evaluation_To_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClinicalAssociateEvaluationForm</elementReference>
                </rightValue>
            </conditions>
            <label>Clinical Associate Evaluation Form</label>
        </rules>
        <rules>
            <name>Clinical_Examiner_Evaluation_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Evaluation_To_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClinicalExaminerEvalForm</elementReference>
                </rightValue>
            </conditions>
            <label>Clinical Examiner Evaluation Form</label>
        </rules>
    </decisions>
    <description>Flow triggered from button on Course Offering or Contact</description>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_1__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_2__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_3</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_3__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_4__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_5</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_5__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_6</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_6__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_7</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_7__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_Eval_Question_8</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Response_8__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_IR_Question11</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_IR_Response_11__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_IR_Question12</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_IR_Response_12__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_IR_Question13</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_IR_Response_13__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_IR_Question14</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_IR_Response_14__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_IR_Question15</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_IR_Response_15__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_IR_Question16</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_IR_Response_16__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_1__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question10</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_10__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_2__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question3</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_3__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_4__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question5</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_5__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question6</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_6__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question7</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_7__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question8</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_8__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TP_Question9</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_Test_Process_Response_9__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_AR_Question26</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_AR_Response_26__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_AR_Question27a</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_AR_Response_27a__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_AR_Question27b</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_AR_Response_27b__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_1__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question10</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_10__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question11</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_11__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question12</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_12__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question13</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_13__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question14</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_14__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question15</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_15__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question16</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_16__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question17</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_17__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question18</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_18__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question19</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_19__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_2__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question3</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_3__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_4__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question5</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_5__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question6</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_6__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question7</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_7__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question8</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_8__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_ER_Question9</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_ER_Response_9__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_PA_Question20</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_PA_Response_1__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_PA_Question21</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_PA_Response_21__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_PA_Question22</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_PA_Response_22__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_PA_Question23</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_PA_Response_23__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_PA_Question24</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_PA_Response_24__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_PA_Question25</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_PA_Response_25__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recommend_future_teaching_assignments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recommend_future_teaching_assignments__c</picklistField>
        <picklistObject>Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Adjunct2weekRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Adjunct_Faculty_2wk_Eval_Record_Type_ID}</expression>
    </formulas>
    <formulas>
        <description>CA Evaluation Record Type ID</description>
        <name>CAEvalRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CA_Evaluations_Record_ID}</expression>
    </formulas>
    <formulas>
        <description>CE Evaluation Record Type ID</description>
        <name>CEEvaluationRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CE_Evaluation_Record_Type_ID}</expression>
    </formulas>
    <formulas>
        <name>CourseOfferingRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CourseOfferingRecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>EvalTypeFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!EvalType},
&apos;1 Year&apos;, &apos;1YR&apos;,
&apos;3 Year&apos;, &apos;3YR&apos;,
&apos;Immediate&apos;, &apos;Immediate&apos;, 
null)</expression>
    </formulas>
    <formulas>
        <description>Faculty Evaluation Record Type ID</description>
        <name>FacultyEvaluationRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Faculty_Evaluation_Record_Type}</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentRecord} Evaluation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Faculty Evaluation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adjunct_Faculty_Evaluation</name>
        <label>Create Adjunct Faculty Evaluation</label>
        <locationX>2131</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_with_Students__c</field>
            <value>
                <elementReference>Engagement_With_Students_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation_Type__c</field>
            <value>
                <stringValue>End of Course</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty_Member__c</field>
            <value>
                <elementReference>PrimaryFacultyContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_to_Students__c</field>
            <value>
                <elementReference>Feedback_to_Student_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learning_Community_for_Students__c</field>
            <value>
                <elementReference>Learning_Community_for_Students_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Performance_Review__c</field>
            <value>
                <elementReference>Next_Steps_Perform_Review_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Performance_Review__c</field>
            <value>
                <elementReference>Other_Perform_Review_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Summary__c</field>
            <value>
                <elementReference>Overall_Summary_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Specific_Expectations__c</field>
            <value>
                <elementReference>Program_Specific_Expectations_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FacultyEvaluationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Email_to_Faculty__c</field>
            <value>
                <elementReference>Send_Email_to_Faculty_Member1</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Adjunct_Faculty_Evaluation_0</name>
        <label>Create Adjunct Faculty Evaluation</label>
        <locationX>2133</locationX>
        <locationY>504</locationY>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_with_Students__c</field>
            <value>
                <elementReference>Engagement_With_Students_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation_Type__c</field>
            <value>
                <elementReference>EvalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty_Member__c</field>
            <value>
                <elementReference>PrimaryFacultyContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_to_Students__c</field>
            <value>
                <elementReference>Feedback_to_Student_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learning_Community_for_Students__c</field>
            <value>
                <elementReference>Learning_Community_for_Students_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Performance_Review__c</field>
            <value>
                <elementReference>Next_Steps_Perform_Review_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Performance_Review__c</field>
            <value>
                <elementReference>Other_Perform_Review_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Summary__c</field>
            <value>
                <elementReference>Overall_Summary_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Specific_Expectations__c</field>
            <value>
                <elementReference>Program_Specific_Expectations_Response_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FacultyEvaluationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Email_to_Faculty__c</field>
            <value>
                <elementReference>Send_Email_to_Faculty_Member</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Evaluation</name>
        <label>Create Evaluation</label>
        <locationX>2135</locationX>
        <locationY>55</locationY>
        <inputAssignments>
            <field>Communication__c</field>
            <value>
                <elementReference>Communication_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation_Type__c</field>
            <value>
                <stringValue>2 Week</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty_Member__c</field>
            <value>
                <elementReference>PrimaryFacultyContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading__c</field>
            <value>
                <elementReference>Grading_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>Next_Steps_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>Other_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Adjunct2weekRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get Course Offering</label>
        <locationX>720</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <outputAssignments>
            <assignToReference>PrimaryFacultyContact</assignToReference>
            <field>Faculty_ContactId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GetCourseOfferingRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Primary_Faculty</name>
        <label>Primary Faculty</label>
        <locationX>1015</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Evaluation_Chosen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Faculty__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Adj_Perform_Review_Screen1</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1162</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen2</targetReference>
        </connector>
        <fields>
            <name>Adj_Fac1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14pt;&quot;&gt;&lt;i&gt;&lt;u&gt;Instructions&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;This review will contain feedback from the Faculty Program Director, the student end-of-course evaluations as well as a variety of other data points related to performance. Not all the criteria listed may be appropriate for every review situation. This review will be conducted following the first course taught and again at the 1yr and 3yr anniversary. Your Faculty Program Director will review the results of this evaluation with you. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Engagement_with_Students</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Engagement with Students&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section: &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Engages frequently and meaningfully with students via multiple forums and methods (discussion board, announcements, virtual meetings, etc.)&lt;/li&gt;&lt;li&gt;Makes concerted effort to significantly engage with students during the first two weeks of the course (supports retention)&lt;/li&gt;&lt;li&gt;Encourages, acknowledges, or reinforces student contributions&lt;/li&gt;&lt;li&gt;Exhibits content expertise when engaging with students; provides relevant evidence based professional examples pertinent to the topic&lt;/li&gt;&lt;li&gt;Guides students to deeper engagement using probing questions and tying conversation to own industry experience (ask students how discussion topic relates to them, share own experience)&lt;/li&gt;&lt;li&gt;Poses questions to students to further conversation and circles back to close-the-loop; uses evidence to support questions or statements&lt;/li&gt;&lt;li&gt;Makes connections among students during discussion&lt;/li&gt;&lt;li&gt;Facilitates effective collaboration among students&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Engagement_With_Students_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen1_0</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1162</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen2_0</targetReference>
        </connector>
        <fields>
            <name>Adj_Fac1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14pt;&quot;&gt;&lt;i&gt;&lt;u&gt;Instructions&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;This review will contain feedback from the Faculty Program Director, the student end-of-course evaluations as well as a variety of other data points related to performance. Not all the criteria listed may be appropriate for every review situation. This review will be conducted following the first course taught and again at the 1yr and 3yr anniversary. Your Faculty Program Director will review the results of this evaluation with you. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Engagement_with_Students_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Engagement with Students&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section: &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Engages frequently and meaningfully with students via multiple forums and methods (discussion board, announcements, virtual meetings, etc.)&lt;/li&gt;&lt;li&gt;Makes concerted effort to significantly engage with students during the first two weeks of the course (supports retention)&lt;/li&gt;&lt;li&gt;Encourages, acknowledges, or reinforces student contributions&lt;/li&gt;&lt;li&gt;Exhibits content expertise when engaging with students; provides relevant evidence based professional examples pertinent to the topic&lt;/li&gt;&lt;li&gt;Guides students to deeper engagement using probing questions and tying conversation to own industry experience (ask students how discussion topic relates to them, share own experience)&lt;/li&gt;&lt;li&gt;Poses questions to students to further conversation and circles back to close-the-loop; uses evidence to support questions or statements&lt;/li&gt;&lt;li&gt;Makes connections among students during discussion&lt;/li&gt;&lt;li&gt;Facilitates effective collaboration among students&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Engagement_With_Students_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer5_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen2</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1294</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen3</targetReference>
        </connector>
        <fields>
            <name>adj_fac2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Feedback_to_students</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Feedback to Students&lt;/u&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The instructor provides timely feedback as prescribed by weekly deadlines&lt;/li&gt;&lt;li&gt;Instructor provides feedback using appropriate channels (within the rubric and/or via messages)&lt;/li&gt;&lt;li&gt;Applies rubric appropriately to ensure consistency in grading within course and across sections&lt;/li&gt;&lt;li&gt;Provides students with prioritized recommendations on how to improve work; offers examples of recommendations&lt;/li&gt;&lt;li&gt;Provides specific and contextual evidence to support the grade assigned&lt;/li&gt;&lt;li&gt;Proactively works with students to address issues of academic integrity, and provides rationale for any imposed penalties&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Manages Level One Academic Integrity Infractions within the classroom, providing support to student for improvement of writing skills; consults with Department Chair as needed&amp;nbsp;&lt;/li&gt;&lt;li&gt;Provides narrative feedback that summarizes the strengths and areas in need of improvement in assignments&lt;/li&gt;&lt;li&gt;Provides substantive feedback that is individualized, unique to each student&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Feedback_to_Student_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen2_0</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1294</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen3_0</targetReference>
        </connector>
        <fields>
            <name>adj_fac2_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Feedback_to_students_0</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Feedback to Students&lt;/u&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The instructor provides timely feedback as prescribed by weekly deadlines&lt;/li&gt;&lt;li&gt;Instructor provides feedback using appropriate channels (within the rubric and/or via messages)&lt;/li&gt;&lt;li&gt;Applies rubric appropriately to ensure consistency in grading within course and across sections&lt;/li&gt;&lt;li&gt;Provides students with prioritized recommendations on how to improve work; offers examples of recommendations&lt;/li&gt;&lt;li&gt;Provides specific and contextual evidence to support the grade assigned&lt;/li&gt;&lt;li&gt;Proactively works with students to address issues of academic integrity, and provides rationale for any imposed penalties&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Manages Level One Academic Integrity Infractions within the classroom, providing support to student for improvement of writing skills; consults with Department Chair as needed&amp;nbsp;&lt;/li&gt;&lt;li&gt;Provides narrative feedback that summarizes the strengths and areas in need of improvement in assignments&lt;/li&gt;&lt;li&gt;Provides substantive feedback that is individualized, unique to each student&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Feedback_to_Student_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer6_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen3</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1427</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen4</targetReference>
        </connector>
        <fields>
            <name>adj_fac3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Learning_Community_for_Students</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Learning Community for Students&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Establishes a personal connection with students while maintaining appropriate professionalism&lt;/li&gt;&lt;li&gt;Facilitates student-to-student conversation&lt;/li&gt;&lt;li&gt;Creates opportunities for learning from others&lt;ul&gt;&lt;li&gt;Works 1:1 with students when necessary&lt;/li&gt;&lt;li&gt;Incorporates students personal/professional goals into discussions, as appropriate&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Recommends Excelsior College support services such as, the Excelsior OWL, tutoring services&lt;/li&gt;&lt;li&gt;Establishes a safe, comfortable learning environment for students (e.g. share professional experiences, recognize and validate students posts when personal in nature, affirm when students make connections to the content, etc)&lt;/li&gt;&lt;li&gt;Promotes use of office hours&lt;/li&gt;&lt;li&gt;Encourages students to assist each other when appropriate&lt;/li&gt;&lt;li&gt;Proactively reaches out to and assists students who may be struggling to help promote completion of course&lt;/li&gt;&lt;li&gt;Is sensitive to student requests for extensions, works with student to complete course successfully, and consults with FPD on requests for extension&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Learning_Community_for_Students_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen3_0</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1427</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen4_0</targetReference>
        </connector>
        <fields>
            <name>adj_fac3_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Learning_Community_for_Students_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Learning Community for Students&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Establishes a personal connection with students while maintaining appropriate professionalism&lt;/li&gt;&lt;li&gt;Facilitates student-to-student conversation&lt;/li&gt;&lt;li&gt;Creates opportunities for learning from others&lt;ul&gt;&lt;li&gt;Works 1:1 with students when necessary&lt;/li&gt;&lt;li&gt;Incorporates students personal/professional goals into discussions, as appropriate&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Recommends Excelsior College support services such as, the Excelsior OWL, tutoring services&lt;/li&gt;&lt;li&gt;Establishes a safe, comfortable learning environment for students (e.g. share professional experiences, recognize and validate students posts when personal in nature, affirm when students make connections to the content, etc)&lt;/li&gt;&lt;li&gt;Promotes use of office hours&lt;/li&gt;&lt;li&gt;Encourages students to assist each other when appropriate&lt;/li&gt;&lt;li&gt;Proactively reaches out to and assists students who may be struggling to help promote completion of course&lt;/li&gt;&lt;li&gt;Is sensitive to student requests for extensions, works with student to complete course successfully, and consults with FPD on requests for extension&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Learning_Community_for_Students_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer7_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen4</name>
        <label>Adjunct_Faculty_Performance_Review</label>
        <locationX>1561</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen5</targetReference>
        </connector>
        <fields>
            <name>adj_fac4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Perform_Review</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Other&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Completes mid-term feedback&lt;/li&gt;&lt;li&gt;Proactively reaches out to students who have been absent or minimally active in course to help avoid withdrawal&lt;/li&gt;&lt;li&gt;When student issues arise, informs and consults with Faculty Program Director within 24 hours&lt;/li&gt;&lt;li&gt;Adheres to policies in the Faculty Handbook as well as all relevant Excelsior College policies&amp;nbsp;&lt;/li&gt;&lt;li&gt;Models the Excelsior College CARES credo when interacting with students and Excelsior College faculty and staff&lt;/li&gt;&lt;li&gt;Provides guidance on course functions such as, labs, e-textbooks, etc.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Perform_Review_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer8</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen4_0</name>
        <label>Adjunct_Faculty_Performance_Review</label>
        <locationX>1561</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen5_0</targetReference>
        </connector>
        <fields>
            <name>adj_fac4_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Perform_Review_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Other&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Completes mid-term feedback&lt;/li&gt;&lt;li&gt;Proactively reaches out to students who have been absent or minimally active in course to help avoid withdrawal&lt;/li&gt;&lt;li&gt;When student issues arise, informs and consults with Faculty Program Director within 24 hours&lt;/li&gt;&lt;li&gt;Adheres to policies in the Faculty Handbook as well as all relevant Excelsior College policies&amp;nbsp;&lt;/li&gt;&lt;li&gt;Models the Excelsior College CARES credo when interacting with students and Excelsior College faculty and staff&lt;/li&gt;&lt;li&gt;Provides guidance on course functions such as, labs, e-textbooks, etc.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Perform_Review_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer8_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen5</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1696</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen6</targetReference>
        </connector>
        <fields>
            <name>adj_fac5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Specific_Expectations</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Program-Specific Expectations&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Commitment to continuous improvement - participates in professional development opportunities offered by their respective school and/or the College&lt;/li&gt;&lt;li&gt;Engages in College-wide and/or school-specific activities&lt;/li&gt;&lt;li&gt;Responds to requests from Faculty Program Director within 48 hours&lt;/li&gt;&lt;li&gt;Facilitates practice/clinical/practicum experiences to include, approval and oversight of mentor process, approval, and evaluation of capstone project&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Informs FPDs if students are not prepared for the capstone course/project&lt;/li&gt;&lt;li&gt;Provides feedback to students in direct hands-on learning activities&amp;nbsp;&lt;/li&gt;&lt;li&gt;Works with students to ensure achievement of course learning outcomes&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Specific_Expectations_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer9</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen5_0</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1696</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen6_0</targetReference>
        </connector>
        <fields>
            <name>adj_fac5_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Specific_Expectations_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Program-Specific Expectations&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Commitment to continuous improvement - participates in professional development opportunities offered by their respective school and/or the College&lt;/li&gt;&lt;li&gt;Engages in College-wide and/or school-specific activities&lt;/li&gt;&lt;li&gt;Responds to requests from Faculty Program Director within 48 hours&lt;/li&gt;&lt;li&gt;Facilitates practice/clinical/practicum experiences to include, approval and oversight of mentor process, approval, and evaluation of capstone project&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Informs FPDs if students are not prepared for the capstone course/project&lt;/li&gt;&lt;li&gt;Provides feedback to students in direct hands-on learning activities&amp;nbsp;&lt;/li&gt;&lt;li&gt;Works with students to ensure achievement of course learning outcomes&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Specific_Expectations_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer9_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen6</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1819</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen7</targetReference>
        </connector>
        <fields>
            <name>adj_fac6</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_Summary</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Overall Summary&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;When completing this section, please summarize the evaluation:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_Summary_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer10</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen6_0</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1819</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adj_Perform_Review_Screen7_0</targetReference>
        </connector>
        <fields>
            <name>adj_fac6_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_Summary_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Overall Summary&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;When completing this section, please summarize the evaluation:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_Summary_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer10_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen7</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1962</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Adjunct_Faculty_Evaluation</targetReference>
        </connector>
        <fields>
            <name>adj_fac7</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps_Perform_Review</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Next Steps&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;When completing this section, &lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;be sure&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt; to include:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Whether the instructional faculty member is high performing, meeting base line expectations or low performing – provide examples to support your assessment in the comment box below&lt;/li&gt;&lt;li&gt;Areas for development and how they will be addressed&lt;/li&gt;&lt;li&gt;Response to previously established development plan, if applicable&lt;/li&gt;&lt;li&gt;Whether faculty member will be considered for future teaching assignments&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps_Perform_Review_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer11</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Email_to_Faculty_Member1</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Email to Faculty Member?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Adj_Perform_Review_Screen7_0</name>
        <label>Adjunct Faculty Performance Review</label>
        <locationX>1962</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Adjunct_Faculty_Evaluation_0</targetReference>
        </connector>
        <fields>
            <name>adj_fac7_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty Evaluation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps_Perform_Review_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14pt;&quot;&gt;&lt;u&gt;Next Steps&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;When completing this section, &lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;be sure&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt; to include:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Whether the instructional faculty member is high performing, meeting base line expectations or low performing – provide examples to support your assessment in the comment box below&lt;/li&gt;&lt;li&gt;Areas for development and how they will be addressed&lt;/li&gt;&lt;li&gt;Response to previously established development plan, if applicable&lt;/li&gt;&lt;li&gt;Whether faculty member will be considered for future teaching assignments&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps_Perform_Review_Response_0</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer11_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Email_to_Faculty_Member</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Email to Faculty Member?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Evaluation</name>
        <label>Choose Evaluation</label>
        <locationX>883</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_Faculty</targetReference>
        </connector>
        <fields>
            <name>Choose_Evaluation_To_Complete</name>
            <choiceReferences>x2_wk_Evaluation</choiceReferences>
            <choiceReferences>AdjustFacultyPerformanceReview</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Evaluation To Complete</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Evaluation_0</name>
        <label>Choose Evaluation</label>
        <locationX>904</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EvalTypeAssignment</targetReference>
        </connector>
        <fields>
            <name>Choose_Evaluation_To_Complete_0</name>
            <choiceReferences>x1YR</choiceReferences>
            <choiceReferences>x3YR</choiceReferences>
            <choiceReferences>Immediate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Evaluation To Complete</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Help_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;1st Year:&lt;/b&gt; For Faculty Evaluation at the end of the First Year since their Last Hire Date.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;3 Year:&lt;/b&gt; For Faculty Evaluation at their 3rd Year (and any subsequent 3 year anniversary) since their Last Hire Date.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Immediate: &lt;/b&gt;For on-demand Faculty Evaluations not tied to a specific anniversary period or course.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>x2week_Screen1</name>
        <label>Adjunct Faculty 2-Week Check-in</label>
        <locationX>1420</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>x2week_Screen2</targetReference>
        </connector>
        <fields>
            <name>Adj_Faculty1</name>
            <fieldText>&lt;p&gt;Adjunct Faculty 2 Week Evaluation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Communication</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12pt;&quot;&gt;Communication:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section: &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Engagement in course via discussion board, announcements, and other activities as appropriate to the course&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Depth of responses; extent of participation; timely responses &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Introductory information added/shared – welcome post to each student; welcome announcement&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Timely Responses&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Communication_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer1</name>
            <fieldText>&lt;p&gt;(Please enter your response - Limit 10,000 Characters)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>x2week_Screen2</name>
        <label>Adjunct Faculty 2-Week Check-in</label>
        <locationX>1547</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>x2week_Screen3</targetReference>
        </connector>
        <fields>
            <name>Adj_Faculty2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty 2 Week Evaluation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grading</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 12pt;&quot;&gt;Grading&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Timely posting of grades and feedback; appropriate application of rubric; extent of feedback provided&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grading_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>x2week_Screen3</name>
        <label>Adjunct Faculty 2-Week Check-in</label>
        <locationX>1667</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>x2week_Screen4</targetReference>
        </connector>
        <fields>
            <name>Adj_Faculty3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty 2 Week Evaluation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 12pt;&quot;&gt;Other&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Quality of writing&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Practice component expectations&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>x2week_Screen4</name>
        <label>Adjunct Faculty 2-Week Check-in</label>
        <locationX>1801</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Evaluation</targetReference>
        </connector>
        <fields>
            <name>Adj_Faculty4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adjunct Faculty 2 Week Evaluation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 12pt;&quot;&gt;Next Steps&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;For consideration when completing this section:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Discuss areas of success and areas for development; needs of instructor&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Pre-term course prep&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps_Response</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;(Please enter your response - Limit 10,000 Characters)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Faculty_Populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CAonCallContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClinicalAssociateContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourseConnectionContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CourseConnectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourseConnectionRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CourseOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EvalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetCourseOfferingRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryFacultyContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
