force-app/main/default/flows/Expiring_Clinical_Faculty_Credentials.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Expiring_Credentials_Email</name>
        <label>Send Expiring Credentials Email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>hed__Attribute__c.Faculty_Expiring_Credentials_Email_30_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>hed__Attribute__c.Faculty_Expiring_Credentials_Email_30_Days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Expiring_Credentials_Email_60_Days</name>
        <label>Send Expiring Credentials Email (60 Days)</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>hed__Attribute__c.Faculty_Expiring_Credentials_Email_60_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>hed__Attribute__c.Faculty_Expiring_Credentials_Email_60_Days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Credential_Expiration</name>
        <label>Credential Expiration</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Credential Not Expiring</defaultConnectorLabel>
        <rules>
            <name>Credential_Expiring_in_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Thirty_Day_Expiration_Formula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Contact_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Expiring_Credentials_Email</targetReference>
            </connector>
            <label>Credential Expiring in 30 Days</label>
        </rules>
        <rules>
            <name>Credential_Expiring_in_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sixty_Day_Expiration_Formula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Contact_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Expiring_Credentials_Email_60_Days</targetReference>
            </connector>
            <label>Credential Expiring in 60 Days</label>
        </rules>
    </decisions>
    <formulas>
        <name>Sixty_Day_Expiration_Formula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 60</expression>
    </formulas>
    <formulas>
        <name>Thirty_Day_Expiration_Formula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Expiring Clinical Faculty Credentials {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expiring Clinical Faculty Credentials</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Credential_Expiration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>hed__Attribute_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinical Credential</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Attribute_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certification</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Attribute_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Endorsement</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Attribute_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>hed__Attribute__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-11-02</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Nursing Faculty,

This correspondence serves as a formal notification to update required nursing credential: {!$Record.Credential_Name__c} set to expire in thirty (30) days.  {!$Record.Credential_Name__c}: {!$Record.hed__Start_Date__c} - {!$Record.hed__End_Date__c}. Please log in to https://excelsior.lightning.force.com/ for review and update.</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nursing Credential {!$Record.Credential_Name__c} Set to Expire in Thirty Days</text>
    </textTemplates>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Faculty_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sender_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>noreply@excelsior.edu</stringValue>
        </value>
    </variables>
</Flow>
