force-app/main/default/flows/Incident_History_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Initial_Response_0</name>
        <label>Initial Response</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Update_Incident_Record_with_Response_Date_Time_and_Uncheck_Update_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subsequent Response</defaultConnectorLabel>
        <rules>
            <name>Is_Initial_Response_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__FKIncident__r.Initial_Update_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Incident_Record_with_Response_Date_Time_and_Initial_Update_Sent</targetReference>
            </connector>
            <label>Is Initial Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Queue_Tech_Support</name>
        <label>Is Queue Tech Support?</label>
        <locationX>809</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Not Tech Support</defaultConnectorLabel>
        <rules>
            <name>Tech_Support_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__FKIncident__r.BMCServiceDesk__queueName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_by_Staff_or_Client</targetReference>
            </connector>
            <label>Tech Support Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ticket_Open</name>
        <label>Is Ticket Open?</label>
        <locationX>1089</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Allow_Incident_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ticket is Closed</defaultConnectorLabel>
        <rules>
            <name>Yes_It_s_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__FKIncident__r.BMCServiceDesk__state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Queue_Tech_Support</targetReference>
            </connector>
            <label>Yes It&apos;s Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_by_Staff_or_Client</name>
        <label>Updated by Staff or Client?</label>
        <locationX>512</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staff_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__actionId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__actionId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Response_0</targetReference>
            </connector>
            <label>Staff Update</label>
        </rules>
        <rules>
            <name>Client_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__actionId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BMCServiceDesk__actionId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Responded_Status_Record</targetReference>
            </connector>
            <label>Client Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Returns a date/time value equal to 5 seconds ago.</description>
        <name>fiveSecondsAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-(5/24/60/60)</expression>
    </formulas>
    <formulas>
        <description>Calculates new value to use as Target End Date, by adding Target (Service Target field) to Created Date (Incident History field).</description>
        <name>NewEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + ({!Retrieve_Incident_Service_Target.BMCServiceDesk__FKServiceTarget__r.BMCServiceDesk__Target__c}/24/60)</expression>
    </formulas>
    <formulas>
        <description>Evaluates to TRUE if triggering record is new; FALSE if triggering record is update.</description>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Generates a null value in date/time format.</description>
        <name>NULLDate</name>
        <dataType>DateTime</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Incident History Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident History Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Customer_Responded_Status_Record</name>
        <label>Customer Responded Status Record</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Incident_Record_when_Client_Responds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Responded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BMCServiceDesk__Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Incident_Service_Target</name>
        <label>Retrieve Incident Service Target</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Target_Times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKIncident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fiveSecondsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMCServiceDesk__TargetTypeValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Response Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BMCServiceDesk__Incident_Service_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allow_Incident_Update</name>
        <label>Allow Incident Update</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncancel_Service_Target</name>
        <label>Uncancel Service Target</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKIncident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fiveSecondsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMCServiceDesk__IsCanceled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BMCServiceDesk__TargetTypeValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Response Time</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__IsCanceled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident_Service_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incident_Record_when_Client_Responds</name>
        <label>Update Incident Record when Client Responds</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Retrieve_Incident_Service_Target</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initial_Update_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>Customer_Responded_Status_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__respondedDateTime__c</field>
            <value>
                <elementReference>NULLDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incident_Record_with_Response_Date_Time_and_Initial_Update_Sent</name>
        <label>Update Incident Record with Response Date/Time and Initial Update Sent</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Uncancel_Service_Target</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__respondedDateTime__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Update_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incident_Record_with_Response_Date_Time_and_Uncheck_Update_Received</name>
        <label>Update Incident Record with Response Date/Time and Uncheck Update Received</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Uncancel_Service_Target</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__respondedDateTime__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_received__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the start date and target end date of subsequent Response Time targets to the date/time the update was received.</description>
        <name>Update_Target_Times</name>
        <label>Update Target Times</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKIncident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__FKIncident__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fiveSecondsAgo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__StartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__TargetEndDate__c</field>
            <value>
                <elementReference>NewEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident_Service_Target__c</object>
    </recordUpdates>
    <start>
        <locationX>963</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Ticket_Open</targetReference>
        </connector>
        <object>BMCServiceDesk__IncidentHistory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
