force-app/main/default/flows/OA_Engagement_Task_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>719</locationX>
        <locationY>236</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tFaultEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow **OA_Engagement_Task** Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>fErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>cTaskStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </constants>
    <description>Create OA Engagement Tasks</description>
    <formulas>
        <name>fErrorRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Error_Recipient}</expression>
    </formulas>
    <formulas>
        <name>fOneDayAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>OA_Engagement_Task_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OA_Engagement_Task_Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>501</locationX>
        <locationY>351</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fOneDayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ttTaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vOAEngagementOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>cTaskStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vOAEngagementId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Task_Detail</name>
        <label>Find Task Detail</label>
        <locationX>501</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTaskName</elementReference>
            </value>
        </filters>
        <object>OA_Engagement_Task__mdt</object>
        <outputAssignments>
            <assignToReference>vTaskComments</assignToReference>
            <field>Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTaskCommentsAdditional</assignToReference>
            <field>Comments_additional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTaskSubject</assignToReference>
            <field>Subject__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTaskType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Task_Detail</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>tFaultEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>** OA_Engagement_Task_Flow **

****** Current Variable Values ******

OA Engagement ID:          {!vOAEngagementId}
OA Engagement Owner:   {!vOAEngagementOwnerId}
Task Name:                       {!vTaskName}

Current Time:       {!$Flow.CurrentDateTime}
Fault Message:    {!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>ttTaskComments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!vTaskComments} {!vTaskCommentsAdditional}</text>
    </textTemplates>
    <variables>
        <name>vOAEngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOAEngagementOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskCommentsAdditional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
