force-app/main/default/flows/Open_the_Mid_Point_Feedbacks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>error</name>
        <label>error</label>
        <locationX>440</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cmoore@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>rere</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Faculty</name>
        <label>Send Email to Faculty</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>fFacultyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>midpoint-evaluation@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Course Offering Open for Midpoint Feedback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>Scheduled flow that will update a course offering&apos;s Mid Point Feedback Status = Open when Mid_Point_Open_Sate__c =  TODAY(). Makes the Mid Point Evaluation Screen Flow visible in the UI.</description>
    <environments>Default</environments>
    <formulas>
        <description>Holds faculty email address that will get the email</description>
        <name>fFacultyEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.hed__Faculty__r.Email}</expression>
    </formulas>
    <formulas>
        <name>LinktoRecord</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Open the Mid Point Feedbacks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Open the Mid Point Feedbacks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Course_to_Open_Mid_Point_Feedback</name>
        <label>Update the Course to Open Mid Point Feedback</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Send_Email_to_Faculty</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Mid_Point_Feedback_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_Course_to_Open_Mid_Point_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Opening_of_Mid_Point_Evaluations__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-11</startDate>
            <startTime>15:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Mid-Point Feedback is open for the course offering {!$Record.Name}&lt;/p&gt;&lt;p&gt;Click here {!LinktoRecord} to open the course offering record and start your mid-point feedback.&lt;/p&gt;&lt;p&gt;Please reach out to your Department Chair for this offering with any questions.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Excelsior University&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FAult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>rere</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
