force-app/main/default/flows/Opportunity_Stage_Date_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Inquiry_Date</name>
        <label>Set Inquiry Date</label>
        <locationX>798</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inquiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Stage_is_Changed_for_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Admitted_Date</name>
        <label>Update Admitted Date</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Admitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Applied_Date</name>
        <label>Update Applied Date</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Applied_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Enrolled_Date</name>
        <label>Update Enrolled Date</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Enrolled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Expired_Date</name>
        <label>Update Expired Date</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Expired_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Change_Date</name>
        <label>Update Stage Change Date</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Stage_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Stages</name>
        <label>Check for Stages</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applied_Date</targetReference>
            </connector>
            <label>Applied</label>
        </rules>
        <rules>
            <name>Admitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Admitted_Date</targetReference>
            </connector>
            <label>Admitted</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expired_Date</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrolled_Date</targetReference>
            </connector>
            <label>Enrolled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stage_is_Changed_for_Opportunity</name>
        <label>Check if Stage is Changed for Opportunity</label>
        <locationX>930</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Stages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Date_is_Blank</name>
        <label>Inquiry Date is Blank</label>
        <locationX>930</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_if_Stage_is_Changed_for_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BlankInquiryDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inquiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Inquiry_Date</targetReference>
            </connector>
            <label>BlankInquiryDate</label>
        </rules>
    </decisions>
    <description>V2 includes {!$Record.Last_Stage_Change_Date__c} incorporated into the flow. Moving it from - TRAA - Opportunity Last Stage Change Date which was handling this.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Stage Date Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRAA - Opportunity Stage Date Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inquiry_Date_is_Blank</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Inquiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
