force-app/main/default/flows/RT_AS_C_Create_Clinical_Instructor_Lead_Offerings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Lead_Offerings_to</name>
        <label>Add Lead Offerings to</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.hed__Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Course__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.hed__Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Term__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.Course_Offering_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical Instructor Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCourseOfferingLeadName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.Parent_Hybrid_Clinical_CO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.hed__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.hed__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingSingle.hed__Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Facility__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadOfferingMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLeadOfferingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add schedule records to variable to be created later</description>
        <name>Add_Schedule_Records_to_Single_Variable</name>
        <label>Add Schedule Records to Single Variable</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forScheduleStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forScheduleEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.Clinical_Weekend_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forWeekendName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.hed__Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.hed__Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Facility__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.hed__Friday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.hed__Saturday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordSingle.hed__Sunday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleRecordMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varScheduleRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the value of the counter to create correct number of Lead offerings</description>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the counter before checking checking to create next offering (1-4)</description>
        <name>Counter_add</name>
        <label>Counter ++</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the counter before checking checking to create next schedule (1-3)</description>
        <name>Next_Counter</name>
        <label>Next Counter ++</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Counter_for_CO_Schedule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset the counter back to one to create the weekend course offering schedules. Three have the same information, the fourth has new values and will be outside of the &quot;loop&quot;</description>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter_for_CO_Schedule_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the value of the counter to determine if more lead offerings need to be created</description>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Offering_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Counter equals four</defaultConnectorLabel>
        <rules>
            <name>Less_than_four</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_Offerings_to</targetReference>
            </connector>
            <label>Less than four</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the value of the counter to determine if more schedule records need to be created</description>
        <name>Check_Counter_for_CO_Schedule_records</name>
        <label>Check Counter for CO Schedule records</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule_records_1_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Counter equals three</defaultConnectorLabel>
        <rules>
            <name>Less_Equal_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Clinical_Instruction_Metadata</targetReference>
            </connector>
            <label>Less/Equal 3</label>
        </rules>
    </decisions>
    <description>Creates the four clinical instructor lead offerings when the Hybrid Clinical Offering is created via integration</description>
    <environments>Default</environments>
    <formulas>
        <description>Assigns end date of offering + offset days from metadata to this variable</description>
        <name>forScheduleEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.hed__Start_Date__c}+{!varEndOffset}</expression>
    </formulas>
    <formulas>
        <description>Assigns start date of offering + offset days from metadata to this variable</description>
        <name>forScheduleStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.hed__Start_Date__c}+{!varSartOffset}</expression>
    </formulas>
    <formulas>
        <description>Holds the name of the schedule weekend</description>
        <name>forWeekendName</name>
        <dataType>String</dataType>
        <expression>&quot;Weekend &quot;&amp;TEXT({!varCounter})</expression>
    </formulas>
    <formulas>
        <description>Holds the name of the Lead offering appended with the counter value (1-4)</description>
        <name>varCourseOfferingLeadName</name>
        <dataType>String</dataType>
        <expression>{!$Record.hed__Course__r.Name}&amp;&quot; CI-&quot;&amp;TEXT({!varCounter})</expression>
    </formulas>
    <interviewLabel>RT-AS-C-Create Clinical Instructor Lead Offerings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-AS-C-Create Clinical Instructor Lead Offerings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Fourth record has different values than 1-3, create as stand alone node</description>
        <name>Create_fourth_schedule_record</name>
        <label>Create fourth schedule record</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Clinical_Weekend_Name__c</field>
            <value>
                <stringValue>Makeup Weekend</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Facility__c</field>
            <value>
                <elementReference>$Record.hed__Facility__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Friday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Saturday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Sunday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the lead offerings found in the collection variable. Should be four at the time of this writing.</description>
        <name>Create_Lead_Offering_Records</name>
        <label>Create Lead Offering Records</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Reset_Counter</targetReference>
        </connector>
        <inputReference>varLeadOfferingMultiple</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the first three records</description>
        <name>Create_Schedule_records_1_3</name>
        <label>Create Schedule records 1-3</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_fourth_schedule_record</targetReference>
        </connector>
        <inputReference>varScheduleRecordMultiple</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This object holds the dates that the weekend schedules are set for. Uses the start/end date of the parent offering, then adds number of days in the metadata to get the correct weekend. Example Start Date + 25 days is the Friday when the 1st clinical weekend starts.</description>
        <name>Get_Clinical_Instruction_Metadata</name>
        <label>Get Clinical Instruction Metadata</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Schedule_Records_to_Single_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </filters>
        <object>Clinical_Instruction__mdt</object>
        <outputAssignments>
            <assignToReference>varSartOffset</assignToReference>
            <field>Weekend_Begins__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEndOffset</assignToReference>
            <field>Weekend_Ends__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hybrid Clinical</stringValue>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Counter to set number of course offering records to create</description>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varEndOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Bucket to hold all course offering records as they are created</description>
        <name>varLeadOfferingMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <description>Holds data for a single lead offering to be added to a collection variable. Collection will create the offerings</description>
        <name>varLeadOfferingSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <description>Days offset for beginning of clinical weekend</description>
        <name>varSartOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds Schedule record collection</description>
        <name>varScheduleRecordMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Holds a single schedule record to be created later</description>
        <name>varScheduleRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varScheduleStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
