force-app/main/default/flows/RT_CU_BS_Populate_FPD_on_Course_Offering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check to see if the course has an FPD value</description>
        <name>FPD_on_Course_Check</name>
        <label>FPD on Course Check</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_FPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Course__r.FPD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FPD_on_Course_Offering</targetReference>
            </connector>
            <label>Has FPD</label>
        </rules>
    </decisions>
    <description>Flow is triggered to ONLY run when FPD on the course offering is NULL and Course is filled</description>
    <environments>Default</environments>
    <interviewLabel>RT-CU-BS-Populate FPD on Course Offering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-CU-BS-Populate FPD on Course Offering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Use the FPD__c field on the related course</description>
        <name>Update_FPD_on_Course_Offering</name>
        <label>Update FPD on Course Offering</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>FPD__c</field>
            <value>
                <elementReference>$Record.hed__Course__r.FPD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FPD_on_Course_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FPD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
