force-app/main/default/flows/RT_C_AS_Contact_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Takes the values from Contact and puts them into the campaign member record.</description>
        <name>Assign_Campaign_member_Values</name>
        <label>Assign Campaign member Values</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SRCampaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SRCampaignSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.utm_campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.utm_campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.utm_medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.utm_medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.utm_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.utm_source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember4Create.utm_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.utm_term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <description>Use this flow for all AFTER Save Updates on Contact when it is created. 
The current version only includes a node from - Process Builder - Contact_SRCampaign_PBProcess</description>
    <environments>Default</environments>
    <interviewLabel>RT-C-AS-Contact General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-C-AS-Contact General</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>When a new Contact is created via Marketo, they do not add them as a Campaign member. Hence this create Campaign Member Record Create</description>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>CampaignMember4Create</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Campaign_member_Values</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SRCampaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the field value to create new Campaign member records</description>
        <name>CampaignMember4Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
