force-app/main/default/flows/RT_CU_AS_Degree_program_TEASAS_Task_Commit_to_Enroll.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>Check if the Special Pop Code field on th contact includes TEASAS (Long Text area is not suported in the flow trigger formula)</description>
        <name>TEASAS</name>
        <label>Special Popcode = TEASAS</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Special_POP_Codes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TEASAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Academic_Advisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Trigger an Autolaunched flow for TEASAS Task creation that will be assigned to Admissions</description>
    <environments>Default</environments>
    <interviewLabel>RT-CU-AS Degree program TEASAS Task - Commit to Enroll {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-CU-AS Degree program TEASAS Task - Commit to Enroll</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TEASAS</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commit to Enroll</stringValue>
            </value>
        </filters>
        <filters>
            <field>Degree_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AAN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Degree_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ASN</stringValue>
            </value>
        </filters>
        <object>Degree_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Call_Subflow</name>
        <label>Call Subflow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>SSC_Task_Flow</flowName>
        <inputAssignments>
            <name>vContactID</name>
            <value>
                <elementReference>$Record.Student_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOwnerID</name>
            <value>
                <elementReference>$Record.Academic_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTaskName</name>
            <value>
                <stringValue>DP.TEASAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
