force-app/main/default/flows/RT_C_AS_SIS_Activity_Task_to_create_task_DEGTRN_AFU_Schduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>The task is assigned to the best academic advisor so this makes sure there is a record or no</description>
        <name>Best_Academic_Advisor</name>
        <label>Best Academic Advisor</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Academic_Advisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_SSC_Task_Flow</targetReference>
            </connector>
            <label>Not NULL</label>
        </rules>
    </decisions>
    <description>This flow Triggers a sub flow to create advisor tasks when a new DEGTRN_AFU record is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>TaskNameFormula</name>
        <dataType>String</dataType>
        <expression>&quot;SAL.&quot;&amp;{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>RT-C-AS SIS Activity Task to create task DEGTRN_AFU (Schduled) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-C-AS SIS Activity Task to create task (DEGTRN_AFU - Scheduled)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEGTRN_AFU</stringValue>
            </value>
        </filters>
        <object>SIS_Activity_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Hour_Delay</name>
            <connector>
                <targetReference>Best_Academic_Advisor</targetReference>
            </connector>
            <label>1 Hour Delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Trigger_SSC_Task_Flow</name>
        <label>Trigger SSC Task Flow</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <flowName>SSC_Task_Flow</flowName>
        <inputAssignments>
            <name>vContactID</name>
            <value>
                <elementReference>$Record.Student_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOwnerID</name>
            <value>
                <elementReference>$Record.Student_Name__r.Best_Academic_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTaskName</name>
            <value>
                <elementReference>TaskNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
