force-app/main/default/flows/RT_C_AS_SIS_Activity_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assign Task Values for Absent tasks that need to be created.</description>
        <name>ABSENT1WK_Assign_Task_Values</name>
        <label>ABSENT1WK_Assign Task Values</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Task Values for CLEP tasks that need to be created.</description>
        <name>CLEP_Assign_Task_Values</name>
        <label>CLEP_Assign Task Values</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Task Values for JST tasks that need to be created.</description>
        <name>JST_Assign_Task_Values</name>
        <label>JST_Assign Task Values</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Task Values for MISS2_8WK tasks that need to be created.</description>
        <name>MISS2_8WK_Assign_Task_Values</name>
        <label>MISS2_8WK_Assign Task Values</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Best_Academic_Advisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Temp_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Task Values for PTEAS tasks that need to be created.</description>
        <name>PTEAS_Assign_Task_Values</name>
        <label>PTEAS_Assign Task Values</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata_from_Admission_Auto_Tasks.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>The start condition only looks for the name of the SiS Activity Log. There ae additional conditions that are used to determine if a task should actually be created or not.</description>
        <name>Check_for_Additional_Conditions</name>
        <label>Check for Additional Conditions</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JST</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Admission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Admission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Admission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JST_RCVD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JST_Assign_Task_Values</targetReference>
            </connector>
            <label>JST</label>
        </rules>
        <rules>
            <name>CLEP</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Admission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Admission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Admission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLEP_RCVD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLEP_Assign_Task_Values</targetReference>
            </connector>
            <label>CLEP</label>
        </rules>
        <rules>
            <name>PTEAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PTEAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTEAS_Assign_Task_Values</targetReference>
            </connector>
            <label>PTEAS</label>
        </rules>
        <rules>
            <name>MISS2_8WK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MISS2_8WK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MISS2_8WK_Assign_Task_Values</targetReference>
            </connector>
            <label>MISS2_8WK</label>
        </rules>
        <rules>
            <name>ABSENT1WK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSENT1WK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Best_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit to Enroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABSENT1WK_Assign_Task_Values</targetReference>
            </connector>
            <label>ABSENT1WK</label>
        </rules>
    </decisions>
    <description>Help: This flow is used to replace the Contact_SISActivityLog_Task_Process builder. Per Incident IN00083004 &amp; conversation with John and Bill Nettleton, only the jst_rcvd, clep_rcvd, pteas are relevant in this PB, the other nodes are no longer needed
In each of these nodes, the owner = active requirement is not needed as the task is added to a queue. || New version adds Absent and 2 week missed SIS logs as part of Enrollment Policy Change project March 2024</description>
    <environments>Default</environments>
    <formulas>
        <description>Holds the Due date of the miss two week task that is generated</description>
        <name>forMISS2_8WKDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <interviewLabel>RT-C-AS-SIS Activity Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-C-AS-SIS Activity Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>All SiS Activity logs from above will be creating a task. ALWAYS use a record variable!</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <inputReference>Task4Create</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a record into Temp Task that will trigger another record triggered flow on a scheduled delay for 7 days.</description>
        <name>Create_Temp_Task</name>
        <label>Create Temp Task</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>TempAssignedTo__c</field>
            <value>
                <elementReference>Task4Create.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TempDescription__c</field>
            <value>
                <elementReference>Task4Create.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TempDueDateOnly__c</field>
            <value>
                <elementReference>forMISS2_8WKDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TempNameID__c</field>
            <value>
                <elementReference>Task4Create.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TempPriority__c</field>
            <value>
                <elementReference>Task4Create.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TempStatus__c</field>
            <value>
                <elementReference>Task4Create.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TempSubject__c</field>
            <value>
                <elementReference>Task4Create.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>TempTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Admission Auto Tasks Metadata contains all the information that is used in creating Tasks.</description>
        <name>Get_Metadata_from_Admission_Auto_Tasks</name>
        <label>Get Metadata from Admission Auto Tasks</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Additional_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admissions_Auto_Task__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata_from_Admission_Auto_Tasks</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JST_RCVD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLEP_RCVD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTEAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MISS2_8WK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSENT1WK</stringValue>
            </value>
        </filters>
        <object>SIS_Activity_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Record Variable will hold all the values for creating a task.</description>
        <name>Task4Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
