force-app/main/default/flows/RT_CU_AS_Utilization_Credit_Hours_Roll_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Trigger_Roll_Up_Apex</name>
        <label>Trigger Roll Up Apex</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_6_Session_Hours_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Roll_Up_Apex1</name>
        <label>Trigger Roll Up Apex</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_7_Session_2_Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Roll_Up_Apex2</name>
        <label>Trigger Roll Up Apex</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_5_Semester_Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Roll_Up_Apex3</name>
        <label>Trigger Roll Up Apex</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relation1Credits</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Term_Type</name>
        <label>Term Type</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Term_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__r.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Roll_Up_Apex</targetReference>
            </connector>
            <label>Term 1</label>
        </rules>
        <rules>
            <name>Term_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__r.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Roll_Up_Apex1</targetReference>
            </connector>
            <label>Term 2</label>
        </rules>
        <rules>
            <name>Trimester</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__r.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trimester</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Roll_Up_Apex2</targetReference>
            </connector>
            <label>Trimester</label>
        </rules>
        <rules>
            <name>Academic_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__r.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic Year</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Roll_Up_Apex3</targetReference>
            </connector>
            <label>Academic Year</label>
        </rules>
    </decisions>
    <description>Flow calculates all the Term Roll-Up Summaries related to the Utilization Object.</description>
    <environments>Default</environments>
    <interviewLabel>RT-CU-AS Utilization Credit Hours Roll up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-CU-AS Utilization Credit Hours Roll Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Term_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Utilization__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
