force-app/main/default/flows/RT_CU_AS_Degree_program_FAS_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>If Best Degree gets updated to BLPN, do not generate a new FAS Task</description>
        <name>CheckBestDegreeUpdate</name>
        <label>CheckTypeBestDegreeUpdate</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Verify_Additional_Conditions_to_Create_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Degree_has_been_changed_to_BLPN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Degree_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLPN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Degree_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALPN</stringValue>
                </rightValue>
            </conditions>
            <label>Changed to BLPN</label>
        </rules>
    </decisions>
    <decisions>
        <description>There are other contact Values that we need to verify if we were to create a task or not</description>
        <name>Verify_Additional_Conditions_to_Create_record</name>
        <label>Verify Additional Conditions to Create record</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Enrollment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Name__r.Contact_Status_Advising__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FAS Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Trigger an Autolaunched flow for FAS Task creation that will be assigned to Admissions. Tracey test ver 2</description>
    <environments>Default</environments>
    <interviewLabel>RT-CU-AS Degree program FAS Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-CU-AS Degree program FAS Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckBestDegreeUpdate</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled-Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Academic_Advisor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Degree_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Subflow</name>
        <label>Call Subflow</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <flowName>SSC_Task_Flow</flowName>
        <inputAssignments>
            <name>vContactID</name>
            <value>
                <elementReference>$Record.Student_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOwnerID</name>
            <value>
                <elementReference>$Record.Academic_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTaskName</name>
            <value>
                <stringValue>DP.FAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
