force-app/main/default/flows/RT_U_AS_Nursing_Application_Capstone_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HTML_to_Plain</name>
        <label>HTML to Plain</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Form_Response_GENERIC_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>Get_Application_Template_Item.traa_Text__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHtmlMarkup</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Assign the Application Template ID based on the decision above that is used in &quot;GetRecords&quot; below</description>
        <name>Assign_Application_Template_ID_based_on_Program</name>
        <label>Assign Application Template ID based on Program</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ApplicationItemTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aAB4O000000GoIUWA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BS Nursing Capstone Requirements</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcknowledgementVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BS_Nursing_Capstone_Requirements__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Application_Template_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Application Template ID based on the decision above that is used in &quot;GetRecords&quot; below</description>
        <name>Assign_Application_Template_ID_based_on_Program1</name>
        <label>Assign Application Template ID based on Program</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ApplicationItemTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aAB4O000000GoIVWA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MS Nursing Capstone Requirements</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcknowledgementVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MS_Nursing_Capstone_Requirements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PseudoLoopVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Application_Template_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Application Template ID based on the decision above that is used in &quot;GetRecords&quot; below</description>
        <name>Assign_Application_Template_ID_based_on_Program2</name>
        <label>Assign Application Template ID based on Program</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ApplicationItemTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aAB4O000000GoIZWA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BS Nursing Capstone Requirements</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcknowledgementVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BS_Nursing_Capstone_Requirements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PseudoLoopVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Application_Template_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns all Generic values needed for Form Response</description>
        <name>Assign_Form_Response_GENERIC_Values</name>
        <label>Assign Form Response GENERIC Values</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Applicant__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Applicant__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Applicant__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormResponse_Response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.hed__Applicant__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormResponse4Create.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormResponse_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Form_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_Decision</name>
        <label>Application Decision</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BS_and_MS_Both_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BS_Nursing_Capstone_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agree</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MS_Nursing_Capstone_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agree</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BS_Nursing_Capstone_Requirements__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MS_Nursing_Capstone_Requirements__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Template_ID_based_on_Program2</targetReference>
            </connector>
            <label>BS and MS Both True</label>
        </rules>
        <rules>
            <name>ONLY_BS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BS_Nursing_Capstone_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agree</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Template_ID_based_on_Program</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ONLY BS</label>
        </rules>
        <rules>
            <name>ONLY_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MS_Nursing_Capstone_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agree</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Template_ID_based_on_Program1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ONLY MS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Again</name>
        <label>Run Again ?</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PseudoLoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Value = 1</label>
        </rules>
        <rules>
            <name>Value_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PseudoLoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Application_Template_ID_based_on_Program1</targetReference>
            </connector>
            <label>Value = 2</label>
        </rules>
    </decisions>
    <description>Created for Ticket Number: IN00081103. This form creates a capstone form response when an application is edited with BS-MS Nursing Capstone form fields are updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormResponse_Response</name>
        <dataType>String</dataType>
        <expression>&apos;Decision: &apos;&amp;{!AcknowledgementVar} &amp;BR() &amp; {!HTML_to_Plain}</expression>
    </formulas>
    <interviewLabel>RT-U-AS-Nursing Application Capstone Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-U-AS-Nursing Application Capstone Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Take values from Application Template Item and create a new form response</description>
        <name>Create_New_Form_Response</name>
        <label>Create New Form Response</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Run_Again</targetReference>
        </connector>
        <inputReference>FormResponse4Create</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Using the object above we will populate the form response with &quot;Text&quot; listed on the capstone form requirement</description>
        <name>Get_Application_Template_Item</name>
        <label>Get Application Template Item</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HTML_to_Plain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationItemTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>traa_Application_Template_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>traa_Text__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Application_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BS_Nursing_Capstone_Requirements__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agree</stringValue>
            </value>
        </filters>
        <filters>
            <field>MS_Nursing_Capstone_Requirements__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agree</stringValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable Stores if it was agreed/disagreed</description>
        <name>AcknowledgementVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ONLY holds Id Value</description>
        <name>ApplicationItemTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store all values for Form Response used by Create records in the last step</description>
        <name>FormResponse4Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_Response__c</objectType>
    </variables>
    <variables>
        <description>This variable will be used in the last decision and will prevent the looping of records specifically for BS MS Combined degrees.</description>
        <name>PseudoLoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
