force-app/main/default/flows/RT_U_AS_Send_Clinical_Lead_Payments_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Submit to approval process Payment_Requiring_Approval</description>
        <name>Submit_Payment_for_Approval</name>
        <label>Submit Payment for Approval</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04a4v000000kCIe</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Sends any payment record for a clinical lead offering where the payment is changed for approval. Obsoletes Process &quot;SO: Payment Created/Edited Process&quot;. Created per IN00097659.</description>
    <environments>Default</environments>
    <interviewLabel>RT-U-AS Send Clinical Lead Payments for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-U-AS Send Clinical Lead Payments for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Change the approval status to required, which kicks the approval process off</description>
        <name>Update_Payment_Approval_Status</name>
        <label>Update Payment Approval Status</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Submit_Payment_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Payment_Approval_Status</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Course_Offering_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinical Instructor Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pay_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
