force-app/main/default/flows/RT_U_AS_ADM_Registered_or_Cancel_Course_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Determine the new value to choose the step to take</description>
        <name>ADM_and_Registered_field_New_value</name>
        <label>ADM and Registered field - New value</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not either</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ADM_and_Registered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADM_and_Registered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Registered_Course_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ADM_and_Registered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADM_and_Registered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Course_Cancellation_Task</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Create a task if the Contact Record with a best status of &quot;Commit to Enroll&quot;  and the &quot;ADM and Registered&quot; field changes for 2 diff scenarios:
1 - changes from N to Y - task is &quot;Registered for Course&quot;
2 - changes from Y to N - task is &quot;Course Cancellation&quot;
The tasks are assigned to the contact owner of the student record. No email alert is needed. The Due date is the same day as creation.</description>
    <environments>Default</environments>
    <interviewLabel>RT-U-AS ADM Registered or Cancel Course Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-U-AS ADM Registered or Cancel Course Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ADM_and_Registered_field_New_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Best_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commit to Enroll</stringValue>
            </value>
        </filters>
        <filters>
            <field>ADM_and_Registered__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Course_Cancellation_Task</name>
        <label>Create Course Cancellation Task</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <flowName>SSC_Task_Flow</flowName>
        <inputAssignments>
            <name>vContactID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOwnerID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTaskName</name>
            <value>
                <stringValue>ADM_CourseCancellation</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Registered_Course_Task</name>
        <label>Create Registered Course Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>SSC_Task_Flow</flowName>
        <inputAssignments>
            <name>vContactID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOwnerID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTaskName</name>
            <value>
                <stringValue>ADM_CourseRegistered</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
