force-app/main/default/flows/RT_U_AS_Cancel_On_Call_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Single_var_to_collection</name>
        <label>Add Single var to collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Payment4UpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment4UpdateSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Payment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set payment status to Cancelled for items in collection, should be max of 2.</description>
        <name>Update_Payment_Status</name>
        <label>Assign Payment Status</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Payment4UpdateSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment4UpdateSingle.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_var_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Cancel the On Call payment if either the faculty is removed or the Call In Type is changed to Called In</description>
    <environments>Default</environments>
    <interviewLabel>RT-U-AS Cancel On Call Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-U-AS Cancel On Call Payment</label>
    <loops>
        <description>Cancel all Scheduled payment records both $250 and $2500 when faculty is replaced at the called in point. If a $2500 was created then the $250 should have already been canceled. This is a fail safe in case Signature Received was triggered more than once by user error.</description>
        <name>Loop_Through_All_Payment_Records</name>
        <label>Loop Through All Payment Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_payment_for_this_offering</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Payment_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get payment record to cancel it</description>
        <name>Get_payment_for_this_offering</name>
        <label>Get payment for this offering</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Payment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the sign status back to draft, compensation and net revenue back to 0</description>
        <name>Update_Course_Offering</name>
        <label>Update Course Offering</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Compensation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering_Sign_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Revenue_Calculation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set Payment to cancelled</description>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Course_Offering</targetReference>
        </connector>
        <inputReference>Payment4UpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_payment_for_this_offering</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Course_Offering_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinical Instructor On Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Faculty__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Faculty__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Call_In_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Call_In_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Called In</stringValue>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Payment4UpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>Payment4UpdateSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
</Flow>
