force-app/main/default/flows/RT_U_AS_Opportunity_Update_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Inquiry_Date</name>
        <label>Set Inquiry Date</label>
        <locationX>798</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inquiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Stage_is_Changed_for_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Values to be used that are common to the Creating of Tasks</description>
        <name>Task_Common_Assignments</name>
        <label>Task Common Assignments</label>
        <locationX>666</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task4Create.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Values to be used that are specific to the Creating of Tasks for this decision outcome</description>
        <name>Task_individual_assignments1</name>
        <label>Task individual assignments</label>
        <locationX>666</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Student, Application Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Common_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Values to be used that are specific to the Creating of Tasks for this decision outcome</description>
        <name>Task_individual_assignments2</name>
        <label>Task individual assignments</label>
        <locationX>930</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>Task4Create.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Student, Admitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Task_Common_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Admitted_Date</name>
        <label>Update Admitted Date</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Admitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Applied_Date</name>
        <label>Update Applied Date</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Applied_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Enrolled_Date</name>
        <label>Update Enrolled Date</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Enrolled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Expired_Date</name>
        <label>Update Expired Date</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Expired_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Change_Date</name>
        <label>Update Stage Change Date</label>
        <locationX>578</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Stage_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status_of_Application_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Stages</name>
        <label>Check for Stages</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Update_Stage_Change_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applied_Date</targetReference>
            </connector>
            <label>Applied</label>
        </rules>
        <rules>
            <name>Admitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Admitted_Date</targetReference>
            </connector>
            <label>Admitted</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expired_Date</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrolled_Date</targetReference>
            </connector>
            <label>Enrolled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stage_is_Changed_for_Opportunity</name>
        <label>Check if Stage is Changed for Opportunity</label>
        <locationX>930</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Check_Status_of_Application_on_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Stages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Using fields: Opportunity Status</description>
        <name>Check_Status_of_Application_on_Opportunity</name>
        <label>Check Status of Application on Opportunity</label>
        <locationX>930</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Opportunity_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_individual_assignments1</targetReference>
            </connector>
            <label>Application Submitted</label>
        </rules>
        <rules>
            <name>Admitted1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_individual_assignments2</targetReference>
            </connector>
            <label>Admitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Date_is_Blank</name>
        <label>Inquiry Date is Blank</label>
        <locationX>930</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_if_Stage_is_Changed_for_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BlankInquiryDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inquiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Inquiry_Date</targetReference>
            </connector>
            <label>BlankInquiryDate</label>
        </rules>
    </decisions>
    <description>Combining Flows: 
1. TRAA - Opportunity Last Stage Change Date (only updated stage change date) 
2. TRAA - Admissions Auto Tasks (handled creating of tasks when student application is started, submitted or admitted) 
3. TRAA - Contact Admission Status update (handling the best admission status and role on contact) 
4. TRAA - Opportunity Stage Date Update  (Handled the population of Dates on admit, enroll,etc)

7/11/23 - Added Applicant is NULL to starting criteria and Record Type ID on the Get all Opportunities
3/9/23 - IN00095266. Removed Node for &quot;Contact Student, Application Started&quot; creating of Task.</description>
    <environments>Default</environments>
    <formulas>
        <description>DueDate on the activity/task record</description>
        <name>ActivityDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>RT-U-AS Opportunity Update Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-U-AS Opportunity Update Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>using variables from Task4Create</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>666</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <inputReference>Task4Create</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>930</locationX>
        <locationY>1692</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inquiry_Date_is_Blank</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 5) AND 4 AND 6</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inquiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124O000000R1xUQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>traa_Applicant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_Delay</name>
            <connector>
                <targetReference>Trigger_Best_Admission_Status_SUbflow</targetReference>
            </connector>
            <label>1 Minute Delay</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Trigger_Best_Admission_Status_SUbflow</name>
        <label>Trigger Best Admission Status Subflow</label>
        <locationX>1458</locationX>
        <locationY>276</locationY>
        <flowName>Best_Admission_Status_Subflow</flowName>
        <inputAssignments>
            <name>ContactInputVar</name>
            <value>
                <elementReference>$Record.traa_Applicant__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the values that will be updated on the contact (Used for best admissions status and related fields)</description>
        <name>Contact4Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Holds the values that are used to create a task</description>
        <name>Task4Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
