force-app/main/default/flows/SF_Log_Contact_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Disability_Status_Changed</name>
        <label>Disability Status Changed</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False_to_True</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Disability_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.hed__Disability_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_DisablilityTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADA_ADD</targetReference>
            </connector>
            <label>False to True OR new Record with Disability checked</label>
        </rules>
        <rules>
            <name>True_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Disability_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.hed__Disability_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADA_DELETE</targetReference>
            </connector>
            <label>True to False</label>
        </rules>
    </decisions>
    <description>SF Log records triggered by changes on Contact.</description>
    <environments>Default</environments>
    <formulas>
        <description>New record with Disability Status checked</description>
        <name>New_DisablilityTrue</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {!$Record.hed__Disability_Status__c}</expression>
    </formulas>
    <interviewLabel>Contact Change to SF Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Log - Contact Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a ADA_ADD SF Log record.</description>
        <name>ADA_ADD</name>
        <label>ADA_ADD</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Log_Code__c</field>
            <value>
                <stringValue>ADA_ADD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SF_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a ADA_DELETE SF Log record.</description>
        <name>ADA_DELETE</name>
        <label>ADA_DELETE</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Log_Code__c</field>
            <value>
                <stringValue>ADA_DELETE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SF_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disability_Status_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>hed__Disability_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Disability_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
