force-app/main/default/flows/SRCampaignMember_Creation_on_Contact_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>cStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Converted</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CampaignMember_already_exists</name>
        <label>CampaignMember already exists?</label>
        <locationX>370</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Create_a_new_CampaignMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSRCampaignMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Status = &apos;Converted&apos;</description>
    <interviewLabel>SRCampaignMember Creation on Contact Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRCampaignMember Creation on Contact Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_CampaignMember</name>
        <label>Create a new CampaignMember</label>
        <locationX>364</locationX>
        <locationY>363</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vSRCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>vSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>cStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_campaign__c</field>
            <value>
                <elementReference>vUtm_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_medium__c</field>
            <value>
                <elementReference>vUtm_Medium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_source__c</field>
            <value>
                <elementReference>vUtm_Source</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CampaignMember_Info</name>
        <label>Get CampaignMember Info</label>
        <locationX>366</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CampaignMember_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSRCampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>vSRCampaignMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_CampaignMember_Info</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSRCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSRCampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUtm_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUtm_Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUtm_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
