force-app/main/default/flows/TRAA_Adelante_Program_Population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ProgramAccountName</name>
        <label>ProgramAccountName</label>
        <locationX>626</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>ProgramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramAccountName_0</name>
        <label>ProgramAccountName</label>
        <locationX>238</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ProgramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedName2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Term_Found</name>
        <label>Term Found</label>
        <locationX>495</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Term_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TermFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Term.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProgramAccountName</targetReference>
            </connector>
            <label>TermFound</label>
        </rules>
    </decisions>
    <description>Populates the program on an Adelante Applicant|| Updated Start Condition - Only when a record is updated to meet the condition requirements</description>
    <environments>Default</environments>
    <formulas>
        <name>FormattedName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Adelante_Program_Options__c}) + &apos; - &apos;+ {!Get_Current_Term.Name}</expression>
    </formulas>
    <formulas>
        <name>FormattedName2</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Adelante_Program_Options__c}) + &apos; - &apos;+ {!Get_Current_Term_0.Name}</expression>
    </formulas>
    <formulas>
        <name>ProgramofInterest</name>
        <dataType>String</dataType>
        <expression>(TEXT({!$Record.Adelante_Program_Options__c})+ &apos; - &apos;+{!Get_Current_Term.Name})</expression>
    </formulas>
    <formulas>
        <name>ProgramofInterest2</name>
        <dataType>String</dataType>
        <expression>(TEXT({!$Record.Adelante_Program_Options__c})+ &apos; - &apos;+{!Get_Current_Term_0.Name})</expression>
    </formulas>
    <interviewLabel>TRAA - Adelante Program Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRAA - Adelante Program Population</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>824</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramofInterest</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>432</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateApplication_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramofInterest2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current term open for applications</description>
        <name>Get_Current_Term</name>
        <label>Get Current Term</label>
        <locationX>147</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Term_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Open_for_Applications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Adelante_Term_Options__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <sortField>hed__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current term open for applications</description>
        <name>Get_Current_Term_0</name>
        <label>Get Current Term</label>
        <locationX>190</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramAccountName_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Open_for_Applications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <sortField>hed__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApplication</name>
        <label>UpdateApplication</label>
        <locationX>1070</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Adelante_Term__c</field>
            <value>
                <elementReference>Get_Current_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Term__c</field>
            <value>
                <elementReference>Get_Current_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>traa_Secondary_Program_Applying_To__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateApplication_0</name>
        <label>UpdateApplication</label>
        <locationX>662</locationX>
        <locationY>861</locationY>
        <inputAssignments>
            <field>Adelante_Term__c</field>
            <value>
                <elementReference>Get_Current_Term_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Term__c</field>
            <value>
                <elementReference>Get_Current_Term_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>traa_Secondary_Program_Applying_To__c</field>
            <value>
                <elementReference>Get_Account_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>256</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Get_Current_Term</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Adelante_Program_Options__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Adelante_Term_Options__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
