force-app/main/default/flows/Update_Most_Recent_Lead_Source.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Most_Recent_Source_Code_Val</name>
        <label>Most Recent Source Code Val</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Most_Recent_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Most_Recent_Source_Code_Value</name>
        <label>Set Most Recent Source Code Value</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Most_Recent_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email_Or_SMS_Type</name>
        <label>Check Email Or SMS Type</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_If_Campagin_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Email Or SMS Type</defaultConnectorLabel>
        <rules>
            <name>If_Campaign_Type_is_Email_Or_SMS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS_Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Most_Recent_Source_Code_Val</targetReference>
            </connector>
            <label>If Campaign Type is Email Or SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Campagin_Record_Type</name>
        <label>Check If Campagin Record Type</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Campaign_Recordtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Most_Recent_Source_Code_Value</targetReference>
            </connector>
            <label>is Campaign Recordtype</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>248</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Lead</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Type_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Campaign Member Contact</label>
        </rules>
    </decisions>
    <description>This flow checks the Campaign Type on the Campaign Member and Updates the Most Recent Lead Source Field on Lead and Contact objects</description>
    <environments>Default</environments>
    <formulas>
        <description>Request to display type in lower case</description>
        <name>LowerCaseType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Campaign.Type})=&apos;Email&apos; ||  TEXT({!$Record.Campaign.Type})=&apos;SMS&apos; ,LOWER(TEXT({!$Record.Campaign.Type})), NULL)</expression>
    </formulas>
    <interviewLabel>Update Most Recent Lead Source {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Most Recent Lead Source</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>116</locationX>
        <locationY>923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>utm_medium__c</field>
            <value>
                <elementReference>LowerCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_source__c</field>
            <value>
                <elementReference>Most_Recent_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>utm_medium__c</field>
            <value>
                <elementReference>LowerCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_source__c</field>
            <value>
                <elementReference>Most_Recent_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Email_Or_SMS_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Most_Recent_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
