force-app/main/default/flows/Update_Contact_from_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_error1</name>
        <label>Copy 1 of error1</label>
        <locationX>490</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cmoore@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Update contact record error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Updaterecorderror</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>error1</name>
        <label>error1</label>
        <locationX>754</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cmoore@excelsior.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Get contact record error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>getrecorderror</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Contact_Update_Assignment</name>
        <label>Contact Update Assignment</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.Area_of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Academic_Area_of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.Level_of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Level_of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source</name>
        <label>Set Lead Source</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Contact_Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Portal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_contact_record_from_user</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_user_is_TRAA_Community_User</name>
        <label>Check if user is TRAA Community User</label>
        <locationX>600</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRAA Community Login User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_is_blank</name>
        <label>Lead Source is blank?</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>update_contact_record_from_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact_Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source</targetReference>
            </connector>
            <label>Source is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contact from User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRAA - Update Contact from User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contact_Record</name>
        <label>Get Related Contact Record</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Update_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact_record_from_user</name>
        <label>update contact record from user</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_error1</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Contact_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>67</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Delay_1_Minute</name>
            <connector>
                <targetReference>Check_if_user_is_TRAA_Community_User</targetReference>
            </connector>
            <label>Delay 1 Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>getrecorderror</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Get contact record error {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Updaterecorderror</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Update contact record error {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
