force-app/main/default/flows/Update_Nursing_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Application_Status_to_Denied</name>
        <label>Update Application Status to Denied</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.hed__Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deny</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Applicant_State</name>
        <label>Check for Applicant State</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.Permanent_State_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_to_Denied</targetReference>
            </connector>
            <label>Correct State</label>
        </rules>
    </decisions>
    <description>V4 - Update Nursing Application Remove State MA</description>
    <environments>Default</environments>
    <formulas>
        <name>ThreeDaysTime</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <interviewLabel>Update Nursing Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRAA - Update Nursing Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task_for_Admissions_Counsellor</name>
        <label>Create Follow Up Task for Admissions Counsellor</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ThreeDaysTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.hed__Applicant__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application Denied. Follow Up with the Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.traa_Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Application_Status</name>
        <label>Update Application Status</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Follow_Up_Task_for_Admissions_Counsellor</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Applicant_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4) AND 3</filterLogic>
        <filters>
            <field>Program_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AAS Nursing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AS Nursing</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LPN to BS</stringValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
