force-app/main/default/flows/Update_Incident_Target_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_record_to_group</name>
        <label>Add record to group</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>IncidentServiceTargetstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Incident_Service_Target</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Incident_Service_Target</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date</name>
        <label>Assign Start Date</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Incident_Service_Target.BMCServiceDesk__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BMCServiceDesk__openDateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Incident_Service_Target.BMCServiceDesk__TargetEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Initial</name>
        <label>Is Initial?</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Incident_Service_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Initial</defaultConnectorLabel>
        <rules>
            <name>Yes_Initial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Incident_Service_Target.BMCServiceDesk__FKServiceTarget__r.BMCServiceDesk__Service_Target_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Support Target (Initial)(not Xact)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Incident_Service_Target.BMCServiceDesk__FKServiceTarget__r.BMCServiceDesk__Service_Target_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xact Target (initial)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date</targetReference>
            </connector>
            <label>Yes Initial</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.BMCServiceDesk__openDateTime__c} + (1/24)</expression>
    </formulas>
    <interviewLabel>Update Incident Target Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Incident Target Start Date</label>
    <loops>
        <name>Loop_Through_Incident_Service_Target</name>
        <label>Loop Through Incident Service Target</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Incident_Service_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Initial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Target_Start_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incident_Service_Targets</name>
        <label>Get Incident Service Targets</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Incident_Service_Target</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKIncident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BMCServiceDesk__Incident_Service_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Target_Start_Date</name>
        <label>Update Service Target Start Date</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <inputReference>IncidentServiceTargetstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident_Service_Targets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__openDateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BMCServiceDesk__Incident__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IncidentServiceTargetstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BMCServiceDesk__Incident_Service_Target__c</objectType>
    </variables>
</Flow>
