force-app/main/default/flows/Utilization_Flow_Revised.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Hours_Rollup</name>
        <label>Contract Hours Rollup</label>
        <locationX>830</locationX>
        <locationY>367</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Term_Record_Pull_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>Get_Contact_Record_Pull_Full_Name.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>ContactContractHoursRealTime</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Last_Course_ID_Term_1</name>
        <label>Last Course ID Term 1</label>
        <locationX>2365</locationX>
        <locationY>1190</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Last_Course_Id_Term_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Last_Course_ID_Term_1_New</name>
        <label>Last Course ID Term 1 - New</label>
        <locationX>3613</locationX>
        <locationY>417</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupTerm2Courses_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilzationT1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Last_Course_Id_Term_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Last_Course_ID_Term_2</name>
        <label>Last Course ID Term 2</label>
        <locationX>2930</locationX>
        <locationY>1218</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Last_Course_ID</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Last_Course_ID_Term_2_New</name>
        <label>Last Course ID Term 2 New</label>
        <locationX>4048</locationX>
        <locationY>402</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationT2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Last_Course_ID</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LastCourseDate</name>
        <label>LastCourseDate</label>
        <locationX>601</locationX>
        <locationY>371</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contact_Record_Pull_Full_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>GetCourseOffering.Qualified_Faculty__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Max_End_Date</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Rollsup Contract Hours</description>
        <name>Relationship1Hours</name>
        <label>Relationship1Hours</label>
        <locationX>2441</locationX>
        <locationY>236</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_is_Term_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_1_year</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupSemesterCourses</name>
        <label>RollupSemesterCourses</label>
        <locationX>1284</locationX>
        <locationY>56</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupSemesterCourses_Offload</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_2_Semester</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupSemesterCourses_Offload</name>
        <label>RollupSemesterCoursesOffload</label>
        <locationX>1546</locationX>
        <locationY>50</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupSemesterCredits</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_8_Semester_Offload</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupSemesterCredits</name>
        <label>RollupSemesterCredits</label>
        <locationX>1735</locationX>
        <locationY>203</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Academic_Year_Term_Session_Branch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_5_Semester_Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm1Courses_0_0</name>
        <label>RollupTerm1Courses</label>
        <locationX>2065</locationX>
        <locationY>1202</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupTerm1Courses_Offload</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_3_Term_Session_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm1Courses_0_0_0</name>
        <label>RollupTerm1Courses</label>
        <locationX>3384</locationX>
        <locationY>401</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupTerm1Courses_Offload_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilzationT1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_3_Term_Session_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm1Courses_Offload</name>
        <label>RollupTerm1CoursesOffLoad</label>
        <locationX>2213</locationX>
        <locationY>1200</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Last_Course_ID_Term_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_9_Term_Session_1_Offload</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm1Courses_Offload_2</name>
        <label>RollupTerm1CoursesOfflload2</label>
        <locationX>3492</locationX>
        <locationY>202</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Last_Course_ID_Term_1_New</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilzationT1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_9_Term_Session_1_Offload</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm2Courses_0_0_0</name>
        <label>RollupTerm2Courses</label>
        <locationX>2554</locationX>
        <locationY>1229</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupTerm2Courses_Offload</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_4_Term_Session_2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm2Courses_0_0_0_0</name>
        <label>RollupTerm2Courses</label>
        <locationX>3788</locationX>
        <locationY>417</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupTerm2Courses_Offload_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationT2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_4_Term_Session_2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm2Courses_Offload</name>
        <label>RollupTerm2CoursesOffload</label>
        <locationX>2734</locationX>
        <locationY>1232</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Last_Course_ID_Term_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_9_Term_Session_2_Offload</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupTerm2Courses_Offload_2</name>
        <label>RollupTerm2CoursesOffload2</label>
        <locationX>3924</locationX>
        <locationY>257</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Last_Course_ID_Term_2_New</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationT2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relationship_9_Term_Session_2_Offload</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupYearCourses_0</name>
        <label>RollupYearCourses</label>
        <locationX>2183</locationX>
        <locationY>272</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupYearCourses_Offload</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relation1Courses</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupYearCourses_Offload</name>
        <label>RollupYearCoursesOffload</label>
        <locationX>2188</locationX>
        <locationY>98</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RollupYearCredits_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relation7CourseOffload</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RollupYearCredits_0</name>
        <label>RollupYearCredits</label>
        <locationX>2443</locationX>
        <locationY>116</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Relationship1Hours</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Relation1Credits</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Utilization2</name>
        <label>Assign Utilization2</label>
        <locationX>3123</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>UtilizationT2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Terms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignT1</name>
        <label>AssignT1</label>
        <locationX>2777</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>UtilzationT1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Terms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Academic_YR_Utilization_Exist</name>
        <label>Academic YR Utilization Exist?</label>
        <locationX>1921</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Create_Utilization_Record_AY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Utilization_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Utilization_Record_Exist</name>
        <label>Does Utilization Record Exist?</label>
        <locationX>1374</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Create_Utilization_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Course_Rest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utilization_Exist</name>
        <label>Utilization Exist?</label>
        <locationX>2263</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Create_Term_2_Utilization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Term 2</defaultConnectorLabel>
        <rules>
            <name>Yes_Term_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Term_Record_Pull_Type.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Utilization_Record_0_0_0</targetReference>
            </connector>
            <label>Yes, Term 1</label>
        </rules>
        <rules>
            <name>yes_Term_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term_Record_Pull_Type.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Utilization_Record_0_0</targetReference>
            </connector>
            <label>yes, Term 2</label>
        </rules>
        <rules>
            <name>No_Term_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Term_Record_Pull_Type.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Utilization</targetReference>
            </connector>
            <label>No, Term 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utilization_ExistT1andT2</name>
        <label>Utilization Exist</label>
        <locationX>2943</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>Loop_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>YesT1andT2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopTermVar.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Utilization_Record_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes,t1</label>
        </rules>
        <rules>
            <name>Yes_T2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Utilization_Record_0_0_0_0</targetReference>
            </connector>
            <label>Yes, T2</label>
        </rules>
        <rules>
            <name>No_t1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopTermVar.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_UtilizationT1andT2</targetReference>
            </connector>
            <label>No, t1</label>
        </rules>
        <rules>
            <name>No_T2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UtilizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopTermVar.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_t2_Utilization</targetReference>
            </connector>
            <label>No,T2</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Term_Type</name>
        <label>What is Term Type?</label>
        <locationX>2435</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Get_Terms_1_and_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not T1 or T2</defaultConnectorLabel>
        <rules>
            <name>Term_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term_Record_Pull_Type.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Term_Record_Pull_Type.hed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Term_1_or_2_Utilization</targetReference>
            </connector>
            <label>Term 1 or Term 2</label>
        </rules>
    </decisions>
    <description>Revised based on new info.</description>
    <formulas>
        <name>AYUtilizationName</name>
        <dataType>String</dataType>
        <expression>{!Get_Academic_Year_Term_Session_Branch.Name}+ &apos; | &apos;+{!Get_Contact_Record_Pull_Full_Name.FirstName} +&quot; &quot;+{!Get_Contact_Record_Pull_Full_Name.LastName}</expression>
    </formulas>
    <formulas>
        <name>LoopUtilizationName</name>
        <dataType>String</dataType>
        <expression>{!LoopTermVar.Name}+ &apos; | &apos;+{!Get_Contact_Record_Pull_Full_Name.FirstName} +&quot; &quot;+{!Get_Contact_Record_Pull_Full_Name.LastName}</expression>
    </formulas>
    <formulas>
        <name>SemesterUtilizationName</name>
        <dataType>String</dataType>
        <expression>{!Get_Semester_Record_SessionBranch.Name}+ &apos; | &apos;+{!Get_Contact_Record_Pull_Full_Name.FirstName} +&quot; &quot;+{!Get_Contact_Record_Pull_Full_Name.LastName}</expression>
    </formulas>
    <formulas>
        <name>Term1or2UtilizationName</name>
        <dataType>String</dataType>
        <expression>{!Get_Term_Record_Pull_Type.Name}+ &apos; | &apos;+{!Get_Contact_Record_Pull_Full_Name.FirstName} +&quot; &quot;+{!Get_Contact_Record_Pull_Full_Name.LastName}</expression>
    </formulas>
    <interviewLabel>Utilization Flow Revised {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utilization Flow Revised</label>
    <loops>
        <name>Loop_Terms</name>
        <label>Loop Terms</label>
        <locationX>2958</locationX>
        <locationY>402</locationY>
        <assignNextValueToReference>LoopTermVar</assignNextValueToReference>
        <collectionReference>Get_Terms_1_and_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Utilzation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CourseT1andT2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_t2_Utilization</name>
        <label>Create t2 Utilization</label>
        <locationX>3212</locationX>
        <locationY>907</locationY>
        <assignRecordIdToReference>UtilizationId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Utilization2</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty__c</field>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LoopUtilizationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>LoopTermVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Term_2_Utilization</name>
        <label>Create Term 2 Utilization</label>
        <locationX>2562</locationX>
        <locationY>797</locationY>
        <assignRecordIdToReference>UtilizationId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Course_Term_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty__c</field>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Term1or2UtilizationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Get_Term_Record_Pull_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Utilization</name>
        <label>Create Utilization</label>
        <locationX>2056</locationX>
        <locationY>802</locationY>
        <assignRecordIdToReference>UtilizationId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Course_Term_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty__c</field>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Term1or2UtilizationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Get_Term_Record_Pull_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Utilization_Record</name>
        <label>Create Utilization Record</label>
        <locationX>1419</locationX>
        <locationY>562</locationY>
        <assignRecordIdToReference>UtilizationId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Course_Rest</targetReference>
        </connector>
        <inputAssignments>
            <field>Faculty__c</field>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SemesterUtilizationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Get_Semester_Record_SessionBranch.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Utilization_Record_AY</name>
        <label>Create Utilization Record</label>
        <locationX>1929</locationX>
        <locationY>568</locationY>
        <assignRecordIdToReference>UtilizationId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Course_AY</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty__c</field>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AYUtilizationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Get_Academic_Year_Term_Session_Branch.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_UtilizationT1andT2</name>
        <label>Create T1 Utilization</label>
        <locationX>2707</locationX>
        <locationY>898</locationY>
        <assignRecordIdToReference>UtilizationId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignT1</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faculty__c</field>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LoopUtilizationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>LoopTermVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Academic_Year_Term_Session_Branch</name>
        <label>Get Academic Year Term</label>
        <locationX>1681</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Academic_YR_Utilization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semester_Record_SessionBranch.hed__Parent_Term__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Academic_YR_Utilization</name>
        <label>Get Academic YR Utilization</label>
        <locationX>1797</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Academic_YR_Utilization_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Academic_Year_Term_Session_Branch.Id</elementReference>
            </value>
        </filters>
        <object>Utilization__c</object>
        <outputAssignments>
            <assignToReference>UtilizationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Pull_Full_Name</name>
        <label>Get Contact Record, Pull Full Name</label>
        <locationX>706</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Hours_Rollup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semester_Record_SessionBranch</name>
        <label>Get Semester Record</label>
        <locationX>1041</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Utilization_Semester</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Term_Record_Pull_Type.hed__Parent_Term__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_1_or_2_Utilization</name>
        <label>Get Term 1 or 2 Utilization</label>
        <locationX>2276</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Utilization_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Term_Record_Pull_Type.Id</elementReference>
            </value>
        </filters>
        <object>Utilization__c</object>
        <outputAssignments>
            <assignToReference>UtilizationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_Record_Pull_Type</name>
        <label>Get Term Record, Pull Type</label>
        <locationX>927</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Semester_Record_SessionBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TermId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Terms_1_and_2</name>
        <label>Get Terms 1 and 2</label>
        <locationX>2664</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Parent_Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semester_Record_SessionBranch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utilization_Semester</name>
        <label>Get Semester Utilization</label>
        <locationX>1227</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Utilization_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Term_Record_Pull_Type.hed__Parent_Term__c</elementReference>
            </value>
        </filters>
        <object>Utilization__c</object>
        <outputAssignments>
            <assignToReference>UtilizationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Utilzation</name>
        <label>Get Utilzation</label>
        <locationX>2954</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Utilization_ExistT1andT2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualifiedFacultyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopTermVar.Id</elementReference>
            </value>
        </filters>
        <object>Utilization__c</object>
        <outputAssignments>
            <assignToReference>UtilizationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCourseOffering</name>
        <label>GetCourseOffering</label>
        <locationX>440</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LastCourseDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_AY</name>
        <label>Update Course AY</label>
        <locationX>2186</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>RollupYearCourses_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Year__c</field>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Rest</name>
        <label>Update Course Rest</label>
        <locationX>1541</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>RollupSemesterCourses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Semester__c</field>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Term_1</name>
        <label>Update Course Term 1</label>
        <locationX>2061</locationX>
        <locationY>1024</locationY>
        <connector>
            <targetReference>RollupTerm1Courses_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Session_1__c</field>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Term_2</name>
        <label>Update Course Term 2</label>
        <locationX>2556</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>RollupTerm2Courses_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Session_2__c</field>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CourseT1andT2</name>
        <label>Update Course</label>
        <locationX>3213</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>RollupTerm1Courses_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Session_1__c</field>
            <value>
                <elementReference>UtilzationT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Session_2__c</field>
            <value>
                <elementReference>UtilizationT2</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utilization_Record</name>
        <label>Update Utilization Record</label>
        <locationX>1932</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Update_Course_AY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utilization_Record_0_0</name>
        <label>Update Utilization Record</label>
        <locationX>2358</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>Update_Course_Term_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utilization_Record_0_0_0</name>
        <label>Update Utilization Record</label>
        <locationX>2197</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>Update_Course_Term_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utilization_Record_0_0_0_0</name>
        <label>Update Utilization Record</label>
        <locationX>3063</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>Assign_Utilization2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utilization_Record_0_0_0_0_0</name>
        <label>Update Utilization Record</label>
        <locationX>2857</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>AssignT1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UtilizationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Course_ID__c</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>GetCourseOffering</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoopTermVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
    <variables>
        <name>QFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QualifiedFacultyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TermId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilizationT2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilzationT1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
